openapi: 3.2.0
info:
  title: Workramp Attributes API
  version: '1.0'
  description: 'Operations tagged Attributes across 2 of this provider''s published API definitions: workramp-api-settings-openapi.yml, workramp-json-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://app.workramp.com
security:
- sec0: []
tags:
- name: Attributes
paths:
  /api/v1/attributes/user/:user_id:
    get:
      summary: List a User's Custom Attributes
      description: List a user's custom attributes
      operationId: list-custom-user-attributes
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \t\"Location\": \"Building 1\",\n    \"Indirect manager\": \"Michael M.\"\n}"
              schema:
                type: object
                properties:
                  Location:
                    type: string
                    example: Building 1
                  Indirect manager:
                    type: string
                    example: Michael M.
      deprecated: false
      tags:
      - Attributes
    servers:
    - url: https://app.workramp.com
  /api/v1/attributes/user/{UserID}:
    post:
      summary: Set Custom Attributes for a User
      description: Adds or updates custom attributes for a user
      operationId: add-custom-user-attributes
      parameters:
      - name: UserID
        in: path
        description: ID to set attributes for
        schema:
          type: integer
          format: int32
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                attributes:
                  type: string
                  description: Key `attributes` is required and is a dictionary of your attribute 'api names' → value
                  default: '{}'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: 'true'
              schema:
                type: boolean
                example: true
                default: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Bad Date Format:
                  value: '{"type":"bad_request","message":"Date format not accepted, please try a different format."}'
                User not found:
                  value: '"user with id 12345 not found"'
                Nonexistent Attribute:
                  value: '{ "errors": "''example'' is not a custom attribute on ''user'' of id ''12345''"'
              schema:
                oneOf:
                - title: Bad Date Format
                  type: object
                  properties:
                    type:
                      type: string
                      example: bad_request
                    message:
                      type: string
                      example: Date format not accepted, please try a different format.
                - title: User not found
                  type: string
                  example: user with id 12345 not found
      deprecated: false
      tags:
      - Attributes
    delete:
      summary: Delete a Custom Attribute from a User
      description: Deletes one or more custom attribute values from a single user
      operationId: delete-custom-user-attributes
      parameters:
      - name: UserID
        in: path
        description: The user id to clear the attributes for
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                attributes:
                  type: array
                  description: An array of custom attributes (their API names) to delete.
                  items:
                    type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: 'true'
              schema:
                type: boolean
                example: true
                default: true
      deprecated: false
      tags:
      - Attributes
    servers:
    - url: https://app.workramp.com
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: Authorization
      in: header
      x-bearer-format: bearer
      x-default: ACCESS_TOKEN
x-refined-from:
- workramp-api-settings-openapi.yml
- workramp-json-api-openapi.yml
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: true
x-readme-fauxas: true
