openapi: 3.1.0
info:
  title: api-settings
  version: '1.0'
servers:
- url: https://app.workramp.com
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: Authorization
      in: header
      x-bearer-format: bearer
      x-default: ACCESS_TOKEN
security:
- sec0: []
paths:
  /api/v1/users:
    get:
      summary: Get All Users
      description: 'Gets all users within the enterprise.


        See also: <a href="/reference/get-all-users-attributes">Get All Users (Including Attributes)</a>'
      operationId: get-all-users-in-enterprise
      parameters:
      - name: limit
        in: query
        description: Limit the number of results returned per page. See warnings above -- failure to limit
          can result in your request being blocked due to rate-limiting. **Best practice is to always
          set to 1 when querying for one user, or less than 100 when doing batches.**
        schema:
          type: integer
          format: int32
      - name: page
        in: query
        description: When used in conjunction with "limit," indicate what page (zero indexed) of results
          to return. The last "page" will have potentially fewer results than "limit," and pages beyond
          results will have return an empty array.
        schema:
          type: integer
          format: int32
      - name: includeDeleted
        in: query
        description: Default behavior is to return users where isDeleted is "false". You can set this
          parameter to "true" to return users for which isDeleted is either "true" or "false".
        schema:
          type: boolean
          default: false
      - name: email
        in: query
        description: Optional - To filter to a single email address. If a user with this email address
          exists in the system, then only that user will be in the return data. If no user exists with
          that email, then a blank list will be returned.
        schema:
          type: string
      - name: name
        in: query
        description: Optional - To filter by name, pass in a name to search, please note this is case
          sensitive
        schema:
          type: string
      - name: custom_attributes
        in: query
        description: 'Optional - To filter to only users with a certain custom attribute value, pass an
          object with a single key-value pair where the key represents the custom attribute name and the
          value represents the custom attribute value. (ie. `{ "custom_attributes": { "isAdmin": true
          } }`)'
        schema:
          properties: {}
          type: object
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  {\n    \"id\": 1925,\n    \"name\": \"John Doe\",\n    \"email\": \"johndoe@workramp.com\"\
                    ,\n    \"isAdmin\": false,\n    \"isDeleted\": false,\n \t\t\"isPermanentlyDeleted\"\
                    : false,\n    \"createdAt\": 1466832522351.831,\n    \"updatedAt\": 1469950882088.9028,\n\
                    \    \"directReports\": [\n      {\n        \"id\": 4,\n        \"name\": \"Managee\
                    \ Doe\",\n        \"email\": \"manageedoe@workramp.com\"\n      }\n    ],\n    \"\
                    certifications\": [\n      {\n        \"id\": 1,\n        \"title\": \"Certification\
                    \ 1\"\n      }\n    ]\n  },\n  {\n    \"id\": 1954,\n    \"name\": \"Beth Samuels\"\
                    ,\n    \"email\": \"bethsamuels@workramp.com\",\n    \"isAdmin\": true,\n    \"isDeleted\"\
                    : false,\n \t\t\"isPermanentlyDeleted\": false,\n    \"createdAt\": 1467515797325.3892,\n\
                    \    \"updatedAt\": 1467515860387.0022,\n    \"directReports\": [],\n    \"certifications\"\
                    : []\n  },\n  {\n    \"id\": 1955,\n    \"name\": \"Julie Thomas\",\n    \"email\"\
                    : \"juliethomas@workramp.com\",\n    \"isAdmin\": false,\n    \"isDeleted\": false,\n\
                    \ \t\t\"isPermanentlyDeleted\": false,\n    \"createdAt\": 1467515822265.4888,\n \
                    \   \"updatedAt\": 1467515932613.6372,\n    \"directReports\": [],\n    \"certifications\"\
                    : []\n  }\n]\n"
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1925
                      default: 0
                    name:
                      type: string
                      example: John Doe
                    email:
                      type: string
                      example: johndoe@workramp.com
                    isAdmin:
                      type: boolean
                      example: false
                      default: true
                    isDeleted:
                      type: boolean
                      example: false
                      default: true
                    isPermanentlyDeleted:
                      type: boolean
                      example: false
                      default: true
                    createdAt:
                      type: number
                      example: 1466832522351.831
                      default: 0
                    updatedAt:
                      type: number
                      example: 1469950882088.9028
                      default: 0
                    directReports:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 4
                            default: 0
                          name:
                            type: string
                            example: Managee Doe
                          email:
                            type: string
                            example: manageedoe@workramp.com
                    certifications:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                            default: 0
                          title:
                            type: string
                            example: Certification 1
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: The error
                    default: Rate Limited...
                required:
                - error
              examples:
                Rate Limited:
                  summary: Rate Limited
                  value:
                    error: Rate limited. See info at https://developers.workramp.com/reference/get-all-users-in-enterprise
      deprecated: false
  /api/v1/users/{user_id}:
    delete:
      summary: Delete User
      description: Delete an existing user
      operationId: delete-user
      parameters:
      - name: user_id
        in: path
        description: ID of user to be deleted
        schema:
          type: integer
          format: int32
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: 'true'
              schema:
                type: boolean
                example: true
                default: true
      deprecated: false
  /api/v1/groups:
    get:
      summary: Get all Groups
      description: Get all groups within the enterprise
      operationId: get-all-groups
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  {\n    \"id\": 8,\n    \"enterpriseId\": 23,\n    \"name\": \"SDR New Hires\
                    \ - August\",\n    \"createdAt\": 1435038275166.556,\n    \"updatedAt\": 1437021409461.621\n\
                    \  },\n  {\n    \"id\": 116,\n    \"enterpriseId\": 23,\n    \"name\": \"SDRs\",\n\
                    \    \"createdAt\": 1457236933952.727,\n    \"updatedAt\": 1457236933952.727\n  }\n\
                    ]\n"
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 8
                      default: 0
                    enterpriseId:
                      type: integer
                      example: 23
                      default: 0
                    name:
                      type: string
                      example: SDR New Hires - August
                    createdAt:
                      type: number
                      example: 1435038275166.556
                      default: 0
                    updatedAt:
                      type: number
                      example: 1437021409461.621
                      default: 0
      deprecated: false
  /api/v1/groups/{group_id}/users:
    get:
      summary: Get All Users in a Group
      description: Get all users in a specific group
      operationId: get-all-users-in-a-group
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: group_id
        in: path
        schema:
          type: string
        required: true
      - name: Content-type
        in: header
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  {\n    \"id\": 1925,\n    \"name\": \"John Doe\",\n    \"email\": \"johndoe@workramp.com\"\
                    ,\n    \"isAdmin\": false,\n    \"isDeleted\": false,\n \t\t\"isPermanentlyDeleted\"\
                    : false,\n    \"createdAt\": 1656355073141,\n    \"updatedAt\": 1658343360219,\n \
                    \   \"directReports\": [\n      {\n        \"id\": 4,\n        \"name\": \"Managee\
                    \ Doe\",\n        \"email\": \"manageedoe@workramp.com\"\n      }\n    ],\n    \"\
                    certifications\": [\n      {\n        \"id\": 1,\n        \"title\": \"Certification\
                    \ 1\"\n      }\n    ],\n    \"customAttributes\": [\n      {\n        \"id\": 1,\n\
                    \        \"apiName\": \"alias\",\n        \"value\": \"rockstar\"\n      }\n    ]\n\
                    \  },\n  {\n    \"id\": 1954,\n    \"name\": \"Beth Samuels\",\n    \"email\": \"\
                    bethsamuels@workramp.com\",\n    \"isAdmin\": true,\n    \"isDeleted\": false,\n \t\
                    \t\"isPermanentlyDeleted\": false,\n    \"createdAt\": 1656355073125,\n    \"updatedAt\"\
                    : 1636355073144,\n    \"directReports\": [],\n    \"certifications\": [],\n    \"\
                    customAttributes\": []\n  }\n]\n"
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1925
                      default: 0
                    name:
                      type: string
                      example: John Doe
                    email:
                      type: string
                      example: johndoe@workramp.com
                    isAdmin:
                      type: boolean
                      example: false
                      default: true
                    isDeleted:
                      type: boolean
                      example: false
                      default: true
                    isPermanentlyDeleted:
                      type: boolean
                      example: false
                      default: true
                    createdAt:
                      type: integer
                      example: 1656355073141
                      default: 0
                    updatedAt:
                      type: integer
                      example: 1658343360219
                      default: 0
                    directReports:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 4
                            default: 0
                          name:
                            type: string
                            example: Managee Doe
                          email:
                            type: string
                            example: manageedoe@workramp.com
                    certifications:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                            default: 0
                          title:
                            type: string
                            example: Certification 1
                    customAttributes:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                            default: 0
                          apiName:
                            type: string
                            example: alias
                          value:
                            type: string
                            example: rockstar
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: 'curl https://app.workramp.com/api/v1/grous/2/users \

            -H "Authorization: Bearer ACCESS_TOKEN"

            -H "Content-type: application/json" \'
        samples-languages:
        - curl
  /api/v1/users/:user_id/assignments/:
    get:
      summary: Get all User Assignments
      description: For provided user_id, returns all Course, Training Series (Paths), Challenge, and SCORM
        assignments.
      operationId: get-all-user-assignments
      parameters:
      - name: :user_id
        in: path
        schema:
          type: string
        required: true
      - name: Authorization
        in: header
        schema:
          type: string
      - name: webhook_payloads
        in: query
        description: Use webhook formats for assignment payloads
        schema:
          type: boolean
          default: false
      - in: query
        name: legacy_mode
        schema:
          type: boolean
          default: 'true'
        description: For accounts provisioned prior to November 11, 2025, the optional query parameter
          legacy_mode can be set to bypass pagination. When legacy_mode is enabled, the API will return
          the entire result set in a single, non-paginated response.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                default:
                  value:
                    page: 1
                    per_page: 20
                    has_more: false
                    item_count: 6
                    url: /api/v1/users/27483/assignments
                    data:
                      challenge_assignments:
                      - id: d09f7598-bc99-11e8-bb1c-06cfa4e7b2f4
                        user_id: 27483
                        title: Challenge 1 Title
                        challenge_id: 8b439e84-bc99-11e8-a7f4-06cfa4e7b2f4
                        training_series_user_assignment_id: d07067f8-bc99-11e8-bb1c-06cfa4e7b2f4
                        due_date: 1538784000000
                        reviewers_due_date: null
                        is_submitted: false
                        is_partially_graded: false
                        is_fully_graded: false
                        calculated_grade: 0
                        passed: false
                        created_at: 1537422945092
                        updated_at: 1541702793186
                        completed_at: null
                        completion_percentage: 0
                        tags: []
                        status: not_started
                        is_completed: false
                        is_completed_on_time: null
                        passing_grade_required: null
                        is_overdue: null
                        num_days_overdue: null
                        date_first_accessed: null
                        date_last_accessed: null
                        assigner_id: null
                      - id: 32509f28-4044-11e9-823e-06cfa4e7b2f4
                        user_id: 27483
                        title: Challenge 2 Title
                        challenge_id: eb6008b0-3ac6-11e9-b297-0260b0cd3c00
                        training_series_user_assignment_id: null
                        due_date: 1553126400000
                        reviewers_due_date: 1553817600000
                        is_submitted: false
                        is_partially_graded: false
                        is_fully_graded: false
                        calculated_grade: 0
                        passed: false
                        created_at: 1551899725760
                        updated_at: 1551899725919
                        completed_at: null
                        completion_percentage: 0
                        tags: []
                        status: not_started
                        is_completed: false
                        is_completed_on_time: null
                        passing_grade_required: null
                        is_overdue: null
                        num_days_overdue: null
                        date_first_accessed: null
                        date_last_accessed: null
                        assigner_id: null
                      guide_assignments:
                      - id: d20a8ddc-02ad-11e9-af0d-0260b0cd3c00
                        user_id: 27483
                        title: Guide 1 Title
                        course_id: c52ca028-02ad-11e9-8d2f-0260b0cd3c00
                        training_series_user_assignment_id: null
                        training_series_user_assignment_ids: []
                        assigner_id: null
                        due_date: 1545955200000
                        num_viewed_tasks: 3
                        num_completed_tasks: 3
                        num_completed_test_questions: 5
                        num_graded_test_questions: 4
                        num_correct_test_questions: 3
                        score: 75
                        is_archived: null
                        is_completed: false
                        completion_percentage: 100
                        created_at: 1545128118800
                        updated_at: 1545328427200
                        completed_at: 1545328427200
                        tags: []
                        status: completed
                        is_completed_on_time: null
                        passed: true
                        passing_grade_required: null
                        is_overdue: null
                        num_days_overdue: null
                        is_retaken: false
                        retake_count: 0
                        time_spent: null
                        first_accessed_at: null
                        last_accessed_at: null
                      - id: d07457d2-bc99-11e8-bb1c-06cfa4e7b2f4
                        user_id: 27483
                        title: Guide 2 Title
                        course_id: 72647668-bc99-11e8-a7f4-06cfa4e7b2f4
                        training_series_user_assignment_id: d07067f8-bc99-11e8-bb1c-06cfa4e7b2f4
                        training_series_user_assignment_ids: []
                        assigner_id: null
                        due_date: 1538784000000
                        num_viewed_tasks: 1
                        num_completed_tasks: 0
                        num_completed_test_questions: 0
                        num_graded_test_questions: 0
                        num_correct_test_questions: 0
                        score: null
                        is_archived: null
                        is_completed: false
                        completion_percentage: 0
                        created_at: 1537422944809
                        updated_at: 1537422969899
                        completed_at: null
                        tags: []
                        status: in_progress
                        is_completed_on_time: null
                        passed: false
                        passing_grade_required: null
                        is_overdue: null
                        num_days_overdue: null
                        is_retaken: false
                        retake_count: 0
                        time_spent: null
                        first_accessed_at: null
                        last_accessed_at: null
                      path_assignments:
                      - id: d07067f8-bc99-11e8-bb1c-06cfa4e7b2f4
                        user_id: 27483
                        title: Path 1 Title
                        training_series_id: 7d30e004-bc99-11e8-86d3-0260b0cd3c00
                        assigner_id: 27484
                        overall_grade: null
                        is_completed: false
                        due_date: 1538784000000
                        created_at: 1537422944784
                        updated_at: 1537422944784
                        created_through: null
                        num_modules: 4
                        modules_completed: 2
                        completion_percentage: 50
                        completed_at: null
                        tags: []
                        time_spent: 32
                        status: in_progress
                        is_completed_on_time: null
                        passed: false
                        passing_grade_required: null
                        is_overdue: null
                        num_days_overdue: null
                        first_accessed_at: null
                        last_accessed_at: null
                      scorm_assignments:
                      - assigner_user_id: null
                        completion_percentage: 100
                        due_at: 1551899725760
                        due_date: 1551899725760
                        id: 019659d6-4c16-7707-bc7e-966a6cfa3a0b
                        is_completed: true
                        score: 100
                        tags:
                        - Ad Solutions
                        - Trending Takeover
                        - Reddit Takeover
                        - Front Page Takeover
                        - Category Takeover
                        - Takeovers
                        top_level_content_id: 019659d6-6758-7f30-af63-9446f9011d1e
                        training_series_user_assignment_ids:
                        - 01965e3b-1627-7bfc-a1d3-01d28d78e873
                        - 01965e3b-409f-7cad-b2fa-8889cffd799d
                webhook_payloads:
                  summary: webhook_payloads
                  value:
                    challengeAssignments: []
                    guideAssignments: []
                    pathAssignments: []
                    scormAssignments: []
                legacy_mode:
                  summary: legacy_mode
                  value:
                    courseAssignments:
                    - id: d20a8ddc-02ad-11e9-af0d-0260b0cd3c00
                      userId: 27483
                      title: Guide 1 Title
                      courseId: c52ca028-02ad-11e9-8d2f-0260b0cd3c00
                      trainingSeriesUserAssignmentId: null
                      dueDate: 1545955200000
                      numViewedTasks: 3
                      numCompletedTasks: 3
                      numCompletedTestQuestions: 5
                      numGradedTestQuestions: 4
                      numCorrectTestQuestions: 3
                      score: 75
                      isArchived: null
                      isCompleted: false
                      createdAt: 1545128118800
                      updatedAt: 1545328427200
                      completedAt: 1545328427200
                      completionPercentage: 100
                    - id: d07457d2-bc99-11e8-bb1c-06cfa4e7b2f4
                      userId: 27483
                      title: Guide 2 Title
                      courseId: 72647668-bc99-11e8-a7f4-06cfa4e7b2f4
                      trainingSeriesUserAssignmentId: d07067f8-bc99-11e8-bb1c-06cfa4e7b2f4
                      dueDate: 1538784000000
                      numViewedTasks: 1
                      numCompletedTasks: 0
                      numCompletedTestQuestions: 0
                      numGradedTestQuestions: 0
                      numCorrectTestQuestions: 0
                      score: null
                      isArchived: null
                      isCompleted: false
                      createdAt: 1537422944809
                      updatedAt: 1537422969899
                      completedAt: null
                      completionPercentage: 0
                    trainingSeriesAssignments:
                    - id: d07067f8-bc99-11e8-bb1c-06cfa4e7b2f4
                      userId: 27483
                      title: Path 1 Title
                      trainingSeriesId: 7d30e004-bc99-11e8-86d3-0260b0cd3c00
                      assignerId: 27484
                      overallGrade: null
                      isCompleted: false
                      dueDate: 1538784000000
                      createdAt: 1537422944784
                      updatedAt: 1537422944784
                      createdThrough: null
                      numModules: 4
                      modulesCompleted: 2
                      completionPercentage: 50
                      timeSpent: 32
                    challengeAssignments:
                    - id: d09f7598-bc99-11e8-bb1c-06cfa4e7b2f4
                      userId: 27483
                      title: Challenge 1 Title
                      challengeId: 8b439e84-bc99-11e8-a7f4-06cfa4e7b2f4
                      trainingSeriesUserAssignmentId: d07067f8-bc99-11e8-bb1c-06cfa4e7b2f4
                      dueDate: 1538784000000
                      reviewersDueDate: null
                      isSubmitted: false
                      isPartiallyGraded: false
                      isFullyGraded: false
                      calculatedGrade: 0
                      passed: false
                      createdAt: 1537422945092
                      updatedAt: 1541702793186
                      completedAt: null
                      completionPercentage: 0
                    - id: 32509f28-4044-11e9-823e-06cfa4e7b2f4
                      userId: 27483
                      title: Challenge 2 Title
                      challengeId: eb6008b0-3ac6-11e9-b297-0260b0cd3c00
                      trainingSeriesUserAssignmentId: null
                      dueDate: 1553126400000
                      reviewersDueDate: 1553817600000
                      isSubmitted: false
                      isPartiallyGraded: false
                      isFullyGraded: false
                      calculatedGrade: 0
                      passed: false
                      createdAt: 1551899725760
                      updatedAt: 1551899725919
                      completedAt: null
                      completionPercentage: 0
                    scormAssignments:
                    - id: 019659d6-4c16-7707-bc7e-966a6cfa3a0b
                      topLevelContentId: 019659d6-6758-7f30-af63-9446f9011d1e
                      isCompleted: true
                      completionPercentage: 100
                      score: 100
                      dueAt: 1551899725760
                      dueDate: 1551899725760
                      tags:
                      - Ad Solutions
                      - Trending Takeover
                      - Reddit Takeover
                      - Front Page Takeover
                      - Category Takeover
                      - Takeovers
                      trainingSeriesUserAssignmentIds:
                      - 01965e3b-1627-7bfc-a1d3-01d28d78e873
                      - 01965e3b-409f-7cad-b2fa-8889cffd799d
              schema:
                oneOf:
                - title: legacy_mode
                  type: object
                  properties:
                    courseAssignments:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: d20a8ddc-02ad-11e9-af0d-0260b0cd3c00
                          userId:
                            type: integer
                            example: 27483
                            default: 0
                          title:
                            type: string
                            example: Guide 1 Title
                          courseId:
                            type: string
                            example: c52ca028-02ad-11e9-8d2f-0260b0cd3c00
                          trainingSeriesUserAssignmentId: {}
                          dueDate:
                            type: integer
                            example: 1545955200000
                            default: 0
                          numViewedTasks:
                            type: integer
                            example: 3
                            default: 0
                          numCompletedTasks:
                            type: integer
                            example: 3
                            default: 0
                          numCompletedTestQuestions:
                            type: integer
                            example: 5
                            default: 0
                          numGradedTestQuestions:
                            type: integer
                            example: 4
                            default: 0
                          numCorrectTestQuestions:
                            type: integer
                            example: 3
                            default: 0
                          score:
                            type: integer
                            example: 75
                            default: 0
                          isArchived: {}
                          isCompleted:
                            type: boolean
                            example: false
                            default: true
                          createdAt:
                            type: integer
                            example: 1545128118800
                            default: 0
                          updatedAt:
                            type: integer
                            example: 1545328427200
                            default: 0
                          completedAt:
                            type: integer
                            example: 1545328427200
                            default: 0
                          completionPercentage:
                            type: integer
                            example: 100
                            default: 0
                    trainingSeriesAssignments:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: d07067f8-bc99-11e8-bb1c-06cfa4e7b2f4
                          userId:
                            type: integer
                            example: 27483
                            default: 0
                          title:
                            type: string
                            example: Path 1 Title
                          trainingSeriesId:
                            type: string
                            example: 7d30e004-bc99-11e8-86d3-0260b0cd3c00
                          assignerId:
                            type: integer
                            example: 27484
                            default: 0
                          overallGrade: {}
                          isCompleted:
                            type: boolean
                            example: false
                            default: true
                          dueDate:
                            type: integer
                            example: 1538784000000
                            default: 0
                          createdAt:
                            type: integer
                            example: 1537422944784
                            default: 0
                          updatedAt:
                            type: integer
                            example: 1537422944784
                            default: 0
                          createdThrough: {}
                          numModules:
                            type: integer
                            example: 4
                            default: 0
                          modulesCompleted:
                            type: integer
                            example: 2
                            default: 0
                          completionPercentage:
                            type: integer
                            example: 50
                            default: 0
                          timeSpent:
                            type: integer
                            example: 32
                            default: 0
                    challengeAssignments:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: d09f7598-bc99-11e8-bb1c-06cfa4e7b2f4
                          userId:
                            type: integer
                            example: 27483
                            default: 0
                          title:
                            type: string
                            example: Challenge 1 Title
                          challengeId:
                            type: string
                            example: 8b439e84-bc99-11e8-a7f4-06cfa4e7b2f4
                          trainingSeriesUserAssignmentId:
                            type: string
                            example: d07067f8-bc99-11e8-bb1c-06cfa4e7b2f4
                          dueDate:
                            type: integer
                            example: 1538784000000
                            default: 0
                          reviewersDueDate: {}
                          isSubmitted:
                            type: boolean
                            example: false
                            default: true
                          isPartiallyGraded:
                            type: boolean
                            example: false
                            default: true
                          isFullyGraded:
                            type: boolean
                            example: false
                            default: true
                          calculatedGrade:
                            type: integer
                            example: 0
                            default: 0
                          passed:
                            type: boolean
                            example: false
                            default: true
                          createdAt:
                            type: integer
                            example: 1537422945092
                            default: 0
                          updatedAt:
                            type: integer
                            example: 1541702793186
                            default: 0
                          completedAt: {}
                          completionPercentage:
                            type: integer
                            example: 0
                            default: 0
                    scormAssignments:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 019659d6-4c16-7707-bc7e-966a6cfa3a0b
                          topLevelContentId:
                            type: string
                            example: 019659d6-6758-7f30-af63-9446f9011d1e
                          isCompleted:
                            type: boolean
                            example: true
                            default: true
                          completionPercentage:
                            type: integer
                            example: 100
                            default: 0
                          score:
                            type: integer
                            example: 100
                            default: 0
                          dueAt:
                            type: integer
                            example: 1551899725760
                            default: 0
                          dueDate:
                            type: integer
                            example: 1551899725760
                            default: 0
                          tags:
                            type: array
                            items:
                              type: string
                              example: Ad Solutions
                          trainingSeriesUserAssignmentIds:
                            type: array
                            items:
                              type: string
                              example: 01965e3b-1627-7bfc-a1d3-01d28d78e873
                - title: webhook_payloads
                  type: object
                  properties:
                    challengeAssignments:
                      type: array
                    guideAssignments:
                      type: array
                    pathAssignments:
                      type: array
                    scormAssignments:
                      type: array
                - type: object
                  properties:
                    page:
                      type: number
                      default: '1'
                    per_page:
                      type: number
                      default: '20'
                    has_more:
                      type: boolean
                      default: 'false'
                    item_count:
                      type: number
                    url:
                      type: string
                    data:
                      type: object
                      properties:
                        challenge_assignments:
                          type: array
                          items:
                            properties: {}
                            type: object
                        guide_assignments:
                          type: array
                          items:
                            properties: {}
                            type: object
                        path_assignments:
                          type: array
                          items:
                            properties: {}
                            type: object
                        scorm_assignments:
                          type: array
                          items:
                            properties: {}
                            type: object
                  required:
                  - page
                  title: default
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: 'curl https://app.workramp.com/api/v1/users/1/assignments \

            -H "Authorization: Bearer ACCESS_TOKEN"

            -H "Content-type: application/json" \'
        samples-languages:
        - curl
  /api/v1/users/attributes:
    get:
      summary: Get All Users (Including Attributes)
      description: 'This returns a list of all users, including built-in and custom attributes.


        See also: <a href="/reference/get-all-users-in-enterprise">Get All Users</a>'
      operationId: get-all-users-attributes
      parameters:
      - name: includeDeleted
        in: query
        description: Default behavior is to return custom attributes for users where isDeleted is "false".
          You can set this parameter to "true" to return custom attributes for users where isDeleted is
          either "true" or "false".
        schema:
          type: boolean
          default: false
      - in: query
        name: legacy_mode
        schema:
          type: boolean
          default: 'true'
        description: For accounts provisioned prior to November 11, 2025, the optional query parameter
          legacy_mode can be set to bypass pagination. When legacy_mode is enabled, the API will return
          the entire result set in a single, non-paginated response.
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: '1'
        description: 'Page of results to return

          '
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: '20'
        description: Number of results to return per page (1-200)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: number
                    default: '1'
                  per_page:
                    type: number
                    default: '20'
                  has_more:
                    type: boolean
                    default: 'false'
                  item_count:
                    type: number
                  url:
                    type: string
                  data:
                    type: object
                    properties:
                      users:
                        type: array
                        items:
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                            email:
                              type: string
                            is_admin:
                              type: boolean
                            is_deleted:
                              type: boolean
                            is_permanently_deleted:
                              type: boolean
                            created_at:
                              type: number
                            updated_at:
                              type: number
                            custom_attributes:
                              type: object
                              properties:
                                id:
                                  type: number
                                api_name:
                                  type: string
                                value:
                                  type: string
                          type: object
                required:
                - page
              examples:
                OK:
                  summary: OK
                  value: "{\n  \"page\": 1,\n  \"per_page\": 20,\n  \"has_more\": false,\n  \"item_count\"\
                    : 3,\n  \"url\": \"/api/v1/users/attributes\",\n  \"data\": {\n    \"users\": [\n\
                    \      {\n        \"id\": 1925,\n        \"name\": \"John Doe\",\n        \"email\"\
                    : \"johndoe@workramp.com\",\n        \"is_admin\": false,\n        \"is_deleted\"\
                    : false,\n        \"is_permanently_deleted\": false,\n        \"created_at\": 1466832522352,\n\
                    \        \"updated_at\": 1469950882089,\n        \"custom_attributes\": [\n      \
                    \    {\n            \"id\": 13,\n            \"api_name\": \"custom_attribute\",\n\
                    \            \"value\": \"Custom Attribute Value\"\n          },\n          {\n  \
                    \          \"id\": 15,\n            \"api_name\": \"custom_attribute\",\n        \
                    \    \"value\": \"Custom Attribute Value\"\n          }\n        ]\n      },\n   \
                    \   {\n        \"id\": 1954,\n        \"name\": \"Beth Samuels\",\n        \"email\"\
                    : \"bethsamuels@workramp.com\",\n        \"is_admin\": true,\n        \"is_deleted\"\
                    : false,\n        \"is_permanently_deleted\": false,\n        \"created_at\": 1467515797325,\n\
                    \        \"updated_at\": 1467515860387,\n        \"custom_attributes\": [\n      \
                    \    {\n            \"id\": 13,\n            \"api_name\": \"custom_attribute\",\n\
                    \            \"value\": \"Custom Attribute Value\"\n          }\n        ]\n     \
                    \ },\n      {\n        \"id\": 1955,\n        \"name\": \"Julie Thomas\",\n      \
                    \  \"email\": \"juliethomas@workramp.com\",\n        \"is_admin\": false,\n      \
                    \  \"is_deleted\": false,\n        \"is_permanently_deleted\": false,\n        \"\
                    created_at\": 1467515822265,\n        \"updated_at\": 14"
                OK - legacy_mode:
                  summary: OK - legacy_mode
                  value:
                  - id: 1925
                    name: John Doe
                    email: johndoe@workramp.com
                    isAdmin: false
                    isDeleted: false
                    isPermanentlyDeleted: false
                    createdAt: 1466832522351.831
                    updatedAt: 1469950882088.9028
                    customAttributes:
                    - id: 13
                      apiName: custom_attribute
                      value: Custom Attribute Value
                    - id: 15
                      apiName: custom_attribute
                      value: Custom Attribute Value
                  - id: 1954
                    name: Beth Samuels
                    email: bethsamuels@workramp.com
                    isAdmin: true
                    isDeleted: false
                    isPermanentlyDeleted: false
                    createdAt: 1467515797325.3892
                    updatedAt: 1467515860387.0022
                    customAttributes:
                    - id: 13
                      apiName: custom_attribute
                      value: Custom Attribute Value
                  - id: 1955
                    name: Julie Thomas
                    email: juliethomas@workramp.com
                    isAdmin: false
                    isDeleted: false
                    isPermanentlyDeleted: false
                    createdAt: 1467515822265.4888
                    updatedAt: 1467515932613.6372
                    directReports: []
                    certifications: []
                    customAttributes: []
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /api/v1/attributes/user/:user_id:
    get:
      summary: List a User's Custom Attributes
      description: List a user's custom attributes
      operationId: list-custom-user-attributes
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \t\"Location\": \"Building 1\",\n    \"Indirect manager\": \"Michael M.\"\
                    \n}"
              schema:
                type: object
                properties:
                  Location:
                    type: string
                    example: Building 1
                  Indirect manager:
                    type: string
                    example: Michael M.
      deprecated: false
  /api/v1/guides:
    get:
      summary: Get All Guides
      description: ''
      operationId: get-all-guides
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: number
                    default: '1'
                  per_page:
                    type: number
                    default: '20'
                  has_more:
                    type: boolean
                    default: 'false'
                  item_count:
                    type: number
                  url:
                    type: string
                  data:
                    type: object
                    properties:
                      guides:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            num_total_tasks:
                              type: number
                            num_total_test_questions:
                              type: number
                            created_at:
                              type: number
                            updated_at:
                              type: number
                            tags:
                              type: array
                              items:
                                type: string
                          type: object
                required:
                - page
              examples:
                OK:
                  summary: OK
                  value:
                    page: 1
                    per_page: 20
                    has_more: false
                    item_count: 5
                    url: /api/v1/guides
                    data:
                      guides:
                      - id: 5525a100-50a1-11e6-b0f4-06871305d8f3
                        title: Sales Onboarding
                        num_total_tasks: 20
                        num_total_test_questions: 45
                        created_at: 1469256453510
                        updated_at: 1469422217610
                        tags:
                        - Sales
                        - Onboarding
                      - id: 1311829e-3a33-11e6-b978-06d818d6b395
                        title: CSM Onboarding
                        num_total_tasks: 15
                        num_total_test_questions: 20
                        created_at: 1466831403590
                        updated_at: 1469949861174
                        tags:
                        - Onboarding
                      - id: 1309d2f0-3a94-11e6-ba78-06d818a6b395
                        title: Challenger Training Prework
                        num_total_tasks: 8
                        num_total_test_questions: 20
                        created_at: 1466831833036
                        updated_at: 1466832487093
                        tags: []
                      - id: 53fd4646-3c17-a1e6-9484-0ad818a6b395
                        title: API Overview
                        num_total_tasks: 7
                        num_total_test_questions: 5
                        created_at: 1466998157240
                        updated_at: 1466998157240
                        tags: []
                      - id: 6b3a41da-56f5-a1e6-ae63-06d818a6b395
                        title: New Product Releases
                        num_total_tasks: 8
                        num_total_test_questions: 15
                        created_at: 1469952274733
                        updated_at: 1469952509535
                        tags:
                        - Releases
                OK - legacy_mode:
                  summary: OK - legacy_mode
                  value:
                  - id: 5525a100-50a1-11e6-b0f4-06871305d8f3
                    title: Sales Onboarding
                    numTotalTasks: 20
                    numTotalTestQuestions: 45
                    createdAt: 1469256453510.3901
                    updatedAt: 1469422217609.812
                    tags:
                    - Sales
                    - Onboarding
                  - id: 1311829e-3a33-11e6-b978-06d818d6b395
                    title: CSM Onboarding
                    numTotalTasks: 15
                    numTotalTestQuestions: 20
                    createdAt: 1466831403589.577
                    updatedAt: 1469949861173.6838
                    tags:
                    - Onboarding
                  - id: 1309d2f0-3a94-11e6-ba78-06d818a6b395
                    title: Challenger Training Prework
                    numTotalTasks: 8
                    numTotalTestQuestions: 20
                    createdAt: 1466831833035.932
                    updatedAt: 1466832487092.9001
                    tags: []
                  - id: 53fd4646-3c17-a1e6-9484-0ad818a6b395
                    title: API Overview
                    numTotalTasks: 7
                    numTotalTestQuestions: 5
                    createdAt: 1466998157239.662
                    updatedAt: 1466998157239.662
                    tags: []
                  - id: 6b3a41da-56f5-a1e6-ae63-06d818a6b395
                    title: New Product Releases
                    numTotalTasks: 8
                    numTotalTestQuestions: 15
                    createdAt: 1469952274733.3948
                    updatedAt: 1469952509534.7478
                    tags:
                    - Releases
      deprecated: false
      parameters:
      - in: query
        name: legacy_mode
        schema:
          type: boolean
          default: 'true'
        description: For accounts provisioned prior to November 11, 2025, the optional query parameter
          legacy_mode can be set to bypass pagination. When legacy_mode is enabled, the API will return
          the entire result set in a single, non-paginated response.
      - in: query
        name: page
        schema:
          type: integer
          default: '1'
          format: int32
        description: 'Page of results to return

          '
      - in: query
        name: per_page
        schema:
          type: integer
          default: '20'
          format: int32
        description: Number of results to return per page (1-200)
  /api/v1/guides/{GuideID}/assignments:
    get:
      summary: Get All Assignments for a Guide
      description: Get all assignment for a specified guide
      operationId: get-all-assignments-for-a-guide
      parameters:
      - name: user_id
        in: query
        description: 'Optional parameter: only assignments for this user id will be returned in the response'
        schema:
          type: integer
          format: int32
      - name: GuideID
        in: path
        description: ID of the guide to get assignments for
        schema:
          type: string
        required: true
      - in: query
        name: legacy_mode
        schema:
          type: boolean
          default: 'true'
        description: For accounts provisioned prior to November 11, 2025, the optional query parameter
          legacy_mode can be set to bypass pagination. When legacy_mode is enabled, the API will return
          the entire result set in a single, non-paginated response.
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: '1'
        description: Page of results to return
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: '20'
        description: Number of results to return per page (1-200)
      responses:
        '200':
          description: OK
          content:
            application/json:
              examples:
                OK:
                  summary: OK
                  value: "{\"page\" => 1,\n \"per_page\" => 20,\n \"has_more\" => false,\n \"item_count\"\
                    \ => 2,\n \"url\" => \"/api/v1/guides/019adb1d-ad5f-729e-8411-6c784bf94ddf/assignments\"\
                    ,\n \"data\" =>\n  {\"assignments\" =>\n    [{\"id\" => \"019adb1d-aede-7747-a5dc-ad0de8f8a734\"\
                    ,\n      \"user_id\" => 73,\n      \"title\" => \"Biomedical Science\",\n      \"\
                    course_id\" => \"019adb1d-ad5f-729e-8411-6c784bf94ddf\",\n      \"training_series_user_assignment_id\"\
                    \ => nil,\n      \"training_series_user_assignment_ids\" =>\n       [\"019adb1d-aeb5-7364-89a2-368611243b5d\"\
                    ,\n        \"019adb1d-aec0-7add-ae2f-216ee4dfa677\"],\n      \"assigner_id\" => 70,\n\
                    \      \"due_date\" => nil,\n      \"num_viewed_tasks\" => 1,\n      \"num_completed_tasks\"\
                    \ => 0,\n      \"num_completed_test_questions\" => nil,\n      \"num_graded_test_questions\"\
                    \ => 0,\n      \"num_correct_test_questions\" => 0,\n      \"score\" => nil,\n   \
                    \   \"is_archived\" => false,\n      \"is_completed\" => false,\n      \"completion_percentage\"\
                    \ => 0,\n      \"created_at\" => 1764612746974,\n      \"updated_at\" => 1764612746974,\n\
                    \      \"completed_at\" => nil,\n      \"tags\" => [nil, nil],\n      \"status\" =>\
                    \ \"not_started\",\n      \"is_completed_on_time\" => nil,\n      \"passed\" => false,\n\
                    \      \"passing_grade_required\" => nil,\n      \"is_overdue\" => false,\n      \"\
                    num_days_overdue\" => nil,\n      \"is_retaken\" => false,\n      \"retake_count\"\
                    \ => 0,\n      \"time_spent\" => nil,\n      \"first_accessed_at\" => nil,\n     \
                    \ \"last_accessed_at\" => nil,\n      \"paths\" =>\n       [{\"id\" => \"019adb1d-ae17-726c-95cb-4e121b08c643\"\
                    ,\n         \"name\" => \"Dave O'Connell DDS\"},\n        {\"id\" => \"019adb1d-ae52-7e1a-8c08-5eab7adbf473\"\
                    ,\n         \"name\" => \"Alysa Ferry\"}]},\n     {\"id\" => \"019adb1d-aee5-780c-8680-4b2d27c6c54c\"\
                    ,\n      \"user_id\" => 70,\n      \"title\" => \"Biomedical Science\",\n      \"\
                    course_id\" => \"019adb1d-ad5f-729e-8411-6c784bf94ddf\",\n      \"training_series_user_assignment_id\"\
                    \ => nil,\n      \"training_series_user_assignment_ids\" =>\n       [\"019adb1d-aeba-7b09-8394-565b1ce02751\"\
                    ,\n        \"019adb1d-aec5-7e30-9ba2-58e669924f30\"],\n      \"assigner_id\" => 70,\n\
                    \      \"due_date\" => nil,\n      \"num_viewed_tasks\" => 1,\n      \"num_completed_tasks\"\
                    \ => 0,\n      \"num_completed_test_questions\" => nil,\n      \"num_graded_test_questions\"\
                    \ => 0,\n      \"num_correct_test_questions\" => 0,\n      \"score\" => nil,\n   \
                    \   \"is_archived\" => false,\n      \"is_completed\" => false,\n      \"completion_percentage\"\
                    \ => 0,\n      \"created_at\" => 1764612746981,\n      \"updated_at\" => 1764612746981,\n\
                    \      \"completed_at\" => nil,\n      \"tags\" => [nil, nil],\n      \"status\" =>\
                    \ \"not_started\",\n      \"is_completed_on_time\" => nil,\n      \"passed\" => false,\n\
                    \      \"passing_grade_required\" => nil,\n      \"is_overdue\" => false,\n      \"\
                    num_days_overdue\" => nil,\n      \"is_retaken\" => false,\n      \"retake_count\"\
                    \ => 0,\n      \"time_spent\" => nil,\n      \"first_accessed_at\" => nil,\n     \
                    \ \"last_accessed_at\" => nil,\n      \"paths\" =>\n       [{\"id\" => \"019adb1d-ae17-726c-95cb-4e121b08c643\"\
                    ,\n         \"name\" => \"Dave O'Connell DDS\"},\n        {\"id\" => \"019adb1d-ae52-7e1a-8c08-5eab7adbf473\"\
                    ,\n         \"name\" => \"Alysa Ferry\"}]}]}}"
                OK - legacy_mode:
                  summary: OK - legacy_mode
                  value: "[\n    {\n        \"id\": \"8f44e9fa-56ef-11e6-8622-06871305d8f3\",\n      \
                    \  \"userId\": 1955,\n        \"title\": \"Guide 1 Title\",\n        \"courseId\"\
                    : \"e585fd3e-509d-11e6-9bd0-06d818a6b395\",\n        \"dueDate\": 1469689200000,\n\
                    \        \"numViewedTasks\": 1,\n        \"numCompletedTasks\": 0,\n        \"numCompletedTestQuestions\"\
                    : 0,\n        \"numGradedTestQuestions\": 0,\n        \"numCorrectTestQuestions\"\
                    : 0,\n        \"score\": null,\n        \"isArchived\": null,\n        \"isCompleted\"\
                    : false,\n        \"createdAt\": 1469949758220,\n        \"updatedAt\": 1471145372226,\n\
                    \        \"completedAt\": null,\n      \t\"completionPercentage\": 0,\n        \"\
                    timeSpent\": 0,\n        \"tags\": [\n        \t\"Guide 1\"\n        ],\n        \"\
                    paths\": [\n          {\n            \"id\": \"8f44e9fa-56ef-11e6-a622-06871305d8f3\"\
                    ,\n            \"title\": \"Path 1 Title\"\n          },\n          {\n          \
                    \  \"id\": \"8f4as9fa-56ef-d1e6-a122-068713addd8f3\",\n            \"title\": \"Path\
                    \ 2 Title\"\n          },\n        ]\n    },\n    {\n        \"id\": \"348bbdd8-509e-11e6-b0f4-06871305d8f3\"\
                    ,\n        \"userId\": 1918,\n        \"title\": \"Guide 1 Title\",\n        \"courseId\"\
                    : \"e585fd3e-509d-11e6-9bd0-06d818a6b395\",\n        \"dueDate\": 1469775600000,\n\
                    \        \"numViewedTasks\": 7,\n        \"numCompletedTasks\": 2,\n        \"numCompletedTestQuestions\"\
                    : 1,\n        \"numGradedTestQuestions\": 1,\n        \"numCorrectTestQuestions\"\
                    : 1,\n        \"score\": 100.0,\n        \"isArchived\": null,\n        \"isCompleted\"\
                    : false,\n        \"createdAt\": 1469255109800,\n        \"updatedAt\": 1491615188754,\n\
                    \        \"completedAt\": null,\n      \t\"completionPercentage\": 28,\n        \"\
                    timeSpent\": 0,\n      \t\"tags\": [\n        \t\"Guide 1\"\n        ],\n        \"\
                    paths\": []\n    },\n    {\n        \"id\": \"2b1b2c8e-509e-11e6-9bd0-06d818a6b395\"\
                    ,\n        \"userId\": 1923,\n        \"title\": \"Guide 1 Title\",\n        \"courseId\"\
                    : \"e585fd3e-509d-11e6-9bd0-06d818a6b395\",\n        \"dueDate\": 1469775600000,\n\
                    \        \"numViewedTasks\": 0,\n        \"numCompletedTasks\": 0,\n        \"numCompletedTestQuestions\"\
                    : 0,\n        \"numGradedTestQuestions\": 0,\n        \"numCorrectTestQuestions\"\
                    : 0,\n        \"score\": null,\n        \"isArchived\": null,\n        \"isCompleted\"\
                    : true,\n        \"createdAt\": 1469255093963,\n        \"updatedAt\": 1471145372967,\n\
                    \        \"completedAt\": 1544579460840,\n      \t\"completionPercentage\": 100,\n\
                    \        \"timeSpent\": 100,\n      \t\"tags\": [\n        \t\"Guide 1\"\n       \
                    \ ],\n        \"paths\": []\n    }\n]"
              schema:
                type: object
                properties:
                  page:
                    type: string
                  per_page:
                    type: string
                  has_more:
                    type: string
                  item_count:
                    type: string
                  url:
                    type: string
                  data:
                    type: object
                    properties:
                      assignments:
                        type: array
                        items:
                          properties: {}
                          type: object
                required:
                - page
      deprecated: false
  /api/v1/guide_assignments/{GuideAssignmentID}:
    delete:
      summary: Delete Assignment
      description: Update an assignment for a user
      operationId: delete-assignment
      parameters:
      - name: GuideAssignmentID
        in: path
        description: ID of the assignment to delete
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: 'true

                    '
              schema:
                type: boolean
                example: true
                default: true
      deprecated: false
  /api/v1/{UserID}/guide_assignments:
    get:
      summary: Get Assignments for User
      description: Gets assignments for a specific user.
      operationId: get-assignments-for-user
      parameters:
      - name: UserID
        in: path
        description: ID of the user to fetch assignments for
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n  { \n      \"userId\":\"assignment.user_id\",\n      \"courseId\":\"assignment.course_id\"\
                    ,\n      \"dueDate\":\"assignment.due_date\",\n      \"numViewedTasks\":\"assignment.num_viewed_tasks\"\
                    ,\n      \"numCompletedTasks\":\"assignment.num_completed_tasks\",\n      \"numCompletedTestQuestions\"\
                    :\"assignment.num_completed_test_questions\",\n      \"isCompleted\":\"assignment.is_completed\"\
                    ,\n      \"isArchived\":\"assignment.is_archived\"\n\t}, \n\t{ \n      \"userId\"\
                    :\"assignment.user_id\",\n      \"courseId\":\"assignment.course_id\",\n      \"dueDate\"\
                    :\"assignment.due_date\",\n      \"numViewedTasks\":\"assignment.num_viewed_tasks\"\
                    ,\n      \"numCompletedTasks\":\"assignment.num_completed_tasks\",\n      \"numCompletedTestQuestions\"\
                    :\"assignment.num_completed_test_questions\",\n      \"isCompleted\":\"assignment.is_completed\"\
                    ,\n      \"isArchived\":\"assignment.is_archived\"\n\t},\n  ...\n]"
      deprecated: false
  /api/v1/logs/guide_assignments?startTime={startTime}&endTime={endTime}:
    get:
      summary: Get All Guide Assignment Changes
      description: ''
      operationId: get-all-guide-assignment-changes
      parameters:
      - name: startTime
        in: query
        description: Any path events occurring after this time will be returned (in unixtime in milliseconds)
        required: true
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        description: Any path events occurring before this time will be returned (in unixtime in milliseconds)
        required: true
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: Max value of 10,000
        schema:
          type: integer
          format: int32
          default: 1000
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: createdThrough
        in: query
        description: A tag that can be used to filter which changes are returned in the response. This
          tag should match what was passed in when creating the path/guide assignment originally.
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n    {\n      \t\"guideId\": \"6192892b-11e9-4ad8-bd04-8bdc7df9726b\",\n \
                    \     \t\"id\": \"b03a11c5-507a-4c95-8e56-24088d4c0023\",\n        \"occurredAt\"\
                    : 1557462936300,\n      \t\"status\": \"assigned\",\n        \"trainingSeriesId\"\
                    : \"eeb14848-a13e-4ca2-b902-6c0a7d0bb570\",\n        \"guideName\": \"test guide 1\"\
                    ,\n        \"userId\": 100,\n      \t\"userEmail\": \"user1@workramp.com\"\n    },\n\
                    \  \t{\n      \t\"guideId\": \"dcd63edd-9b02-44cf-8c93-c266bc172064\",\n      \t\"\
                    id\": \"f6c981f9-65f4-48ba-bb0c-0a96138b85bd\",\n        \"occurredAt\": 1557462936300,\n\
                    \      \t\"status\": \"completed\",\n        \"trainingSeriesId\": \"eeb14848-a13e-4ca2-b902-6c0a7d0bb570\"\
                    ,\n        \"guideName\": \"test guide 2\",\n        \"userId\": 100,\n      \t\"\
                    userEmail\": \"user1@workramp.com\"\n    },\n  \t{\n      \t\"guideId\": \"6192892b-11e9-4ad8-bd04-8bdc7df9726b\"\
                    ,\n      \t\"id\": \"d834db1f-a3d6-46cf-ab63-724d1055b350\",\n        \"occurredAt\"\
                    : 1557462936300,\n      \t\"status\": \"deleted\",\n        \"trainingSeriesId\":\
                    \ \"eeb14848-a13e-4ca2-b902-6c0a7d0bb570\",\n        \"guideName\": \"test guide 1\"\
                    ,\n        \"userId\": 105,\n      \t\"userEmail\": \"user2@workramp.com\"\n    }\n\
                    ]"
              schema:
                type: array
                items:
                  type: object
                  properties:
                    guideId:
                      type: string
                      example: 6192892b-11e9-4ad8-bd04-8bdc7df9726b
                    id:
                      type: string
                      example: b03a11c5-507a-4c95-8e56-24088d4c0023
                    occurredAt:
                      type: integer
                      example: 1557462936300
                      default: 0
                    status:
                      type: string
                      example: assigned
                    trainingSeriesId:
                      type: string
                      example: eeb14848-a13e-4ca2-b902-6c0a7d0bb570
                    guideName:
                      type: string
                      example: test guide 1
                    userId:
                      type: integer
                      example: 100
                      default: 0
                    userEmail:
                      type: string
                      example: user1@workramp.com
      deprecated: false
  /api/v1/logs/guides:
    get:
      summary: Get All Unique Guide Assignment Changes
      description: ''
      operationId: get-all-unique-guide-assignment-changes
      parameters:
      - name: startTime
        in: query
        description: Any path events occurring after this time will be returned (in unixtime in milliseconds)
        required: true
        schema:
          type: integer
          format: int64
      - name: endTime
        in: query
        description: Any path events occurring before this time will be returned (in unixtime in milliseconds)
        required: true
        schema:
          type: integer
          format: int64
      - name: limit
        in: query
        description: Max value of 10,000
        schema:
          type: integer
          format: int32
          default: 1000
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: createdThrough
        in: query
        description: A tag that can be used to filter which changes are returned in the response. This
          tag should match what was passed in when creating the path/guide assignment originally.
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "[\n    {\n      \t\"guideId\": \"6192892b-11e9-4ad8-bd04-8bdc7df9726b\",\n \
                    \     \t\"id\": \"b03a11c5-507a-4c95-8e56-24088d4c0023\",\n        \"occurredAt\"\
                    : 1557462936300,\n      \t\"status\": \"assigned\",\n        \"trainingSeriesId\"\
                    : \"eeb14848-a13e-4ca2-b902-6c0a7d0bb570\",\n        \"guideName\": \"test guide 1\"\
                    ,\n        \"userId\": 100,\n      \t\"userEmail\": \"user1@workramp.com\"\n    },\n\
                    \  \t{\n      \t\"guideId\": \"dcd63edd-9b02-44cf-8c93-c266bc172064\",\n      \t\"\
                    id\": \"f6c981f9-65f4-48ba-bb0c-0a96138b85bd\",\n        \"occurredAt\": 1557462936300,\n\
                    \      \t\"status\": \"completed\",\n        \"trainingSeriesId\": \"eeb14848-a13e-4ca2-b902-6c0a7d0bb570\"\
                    ,\n        \"guideName\": \"test guide 2\",\n        \"userId\": 100,\n      \t\"\
                    userEmail\": \"user1@workramp.com\"\n    },\n  \t{\n      \t\"guideId\": \"6192892b-11e9-4ad8-bd04-8bdc7df9726b\"\
                    ,\n      \t\"id\": \"d834db1f-a3d6-46cf-ab63-724d1055b350\",\n        \"occurredAt\"\
                    : 1557462936300,\n      \t\"status\": \"deleted\",\n        \"trainingSeriesId\":\
                    \ \"eeb14848-a13e-4ca2-b902-6c0a7d0bb570\",\n        \"guideName\": \"test guide 1\"\
                    ,\n        \"userId\": 105,\n      \t\"userEmail\": \"user2@workramp.com\"\n    }\n\
                    ]"
              schema:
                type: array
                items:
                  type: object
                  properties:
                    guideId:
                      type: string
                      example: 6192892b-11e9-4ad8-bd04-8bdc7df9726b
                    id:
                      type: string
                      example: b03a11c5-507a-4c95-8e56-24088d4c0023
                    occurredAt:
                      type: integer
                      example: 1557462936300
                      default: 0
                    status:
                      type: string
                      example: assigned
                    trainingSeriesId:
                      type: string
                      example: eeb14848-a13e-4ca2-b902-6c0a7d0bb570
                    guideName:
                      type: string
                      example: test guide 1
                    userId:
                      type: integer
                      example: 100
                      default: 0
                    userEmail:
                      type: string
                      example: user1@workramp.com
      deprecated: false
  /api/v1/paths:
    get:
      summary: Get All Paths
      description: ''
      operationId: get-all-paths
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - in: query
        name: legacy_mode
        schema:
          type: boolean
          default: 'true'
        description: For accounts provisioned prior to November 11, 2025, the optional query parameter
          legacy_mode can be set to bypass pagination. When legacy_mode is enabled, the API will return
          the entire result set in a single, non-paginated response.
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: '1'
        description: Page of results to return
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: '20'
        description: Number of results to return per page (1-200)
      responses:
        '200':
          description: '200'
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: number
                    default: '1'
                  per_page:
                    type: number
                    default: '20'
                  has_more:
                    type: boolean
                    default: 'false'
                  item_count:
                    type: number
                  url:
                    type: string
                  data:
                    type: object
                    properties:
                      paths:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            description:
                              type: string
                            sequential_unlock:
                              type: boolean
                            passing_score_required_for_unlock:
                              type: number
                            created_at:
                              type: number
                            updated_at:
                              type: number
                            card_banner:
                              type: string
                            time_estimate_seconds:
                              type: number
                            num_guides:
                              type: number
                            num_resources:
                              type: number
                            num_challenges:
                              type: number
                            tags:
                              type: array
                              items:
                                type: string
                          type: object
              examples:
                OK:
                  summary: OK
                  value:
                    page: 1
                    per_page: 20
                    has_more: false
                    item_count: 3
                    url: /api/v1/paths
                    data:
                      paths:
                      - id: 23af7b44-e671-11e7-bcac-02ae264840ac
                        name: My First Path
                        description: This is a path for onboarding
                        sequential_unlock: false
                        passing_score_required_for_unlock: false
                        created_at: 1513875926143
                        updated_at: 1513875940034
                        card_banner: https://bulletinboardfiles-dev.s3-us-west-1.amazonaws.com/uploads/bb/models/training_series/card_banner/678a1042-b4a3-11e9-a065-3af9d3af309e/test-image-1080p.jpg?X-Amz-Expires=86400&X-Amz-Date=20190813T184459Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID/20190813/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=cfa268e5e8a8ff1fe57ea57c921b497d7933041b7c02c247540a2e982ba6cc89
                        time_estimate_seconds: 18000
                        num_guides: 3
                        num_resources: 1
                        num_challenges: 1
                        tags:
                        - Onboarding
                      - id: 72713b46-f738-11e7-a950-06a818a6b395
                        name: My Second Path
                        description: This is a path that I'm testing out
                        sequential_unlock: false
                        passing_score_required_for_unlock: false
                        created_at: 1515720753544
                        updated_at: 1515720775278
                        card_banner: https://bulletinboardfiles-dev.s3-us-west-1.amazonaws.com/uploads/bb/models/training_series/card_banner/678a1042-b4a3-11e9-a065-3af9d3af309e/test-image-1080p.jpg?X-Amz-Expires=86400&X-Amz-Date=20190813T184459Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID/20190813/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=cfa268e5e8a8ff1fe57ea57c921b497d7933041b7c02c247540a2e982ba6cc89
                        time_estimate_seconds: 12000
                        num_guides: 3
                        num_resources: 3
                        num_challenges: 4
                        tags:
                        - Testing
                      - id: 2c343060-f739-11e7-9e82-02ae164840ac
                        name: My Third Path
                        description: This is a new path
                        sequential_unlock: false
                        passing_score_required_for_unlock: false
                        created_at: 1515721056812
                        updated_at: 1515721056812
                        card_banner: https://bulletinboardfiles-dev.s3-us-west-1.amazonaws.com/uploads/bb/models/training_series/card_banner/678a1042-b4a3-11e9-a065-3af9d3af309e/test-image-1080p.jpg?X-Amz-Expires=86400&X-Amz-Date=20190813T184459Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID/20190813/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=cfa268e5e8a8ff1fe57ea57c921b497d7933041b7c02c247540a2e982ba6cc89
                        time_estimate_seconds: 6000
                        num_guides: 3
                        num_resources: 2
                        num_challenges: 6
                        tags: []
                OK - legacy_mode:
                  summary: OK - legacy_mode
                  value: "[\n\n  {\n\n    \"id\": \"23af7b44-e671-11e7-bcac-02ae264840ac\",\n\n    \"\
                    name\": \"My First Path\",\n\n    \"description\": \"This is a path for onboarding\"\
                    ,\n\n    \"sequentialUnlock\": false,\n\n    \"passingScoreRequiredForUnlock\": false,\n\
                    \n    \"createdAt\": 1513875926143,\n\n    \"updatedAt\": 1513875940034,\n\n    \"\
                    cardBanner\": \"https://bulletinboardfiles-dev.s3-us-west-1.amazonaws.com/uploads/bb/models/training_series/card_banner/678a1042-b4a3-11e9-a065-3af9d3af309e/test-image-1080p.jpg?X-Amz-Expires=86400&X-Amz-Date=20190813T184459Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID/20190813/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=cfa268e5e8a8ff1fe57ea57c921b497d7933041b7c02c247540a2e982ba6cc89\"\
                    ,\n\n    \"timeEstimateSeconds\": 18000,\n\n    \"numGuides\": 3,\n\n    \"numResources\"\
                    : 1,\n\n    \"numChallenges\": 1,\n\n    \"tags\": [\n\n      \"Onboarding\"\n\n \
                    \   ]\n\n  },\n\n  {\n\n    \"id\": \"72713b46-f738-11e7-a950-06a818a6b395\",\n\n\
                    \    \"name\": \"My Second Path\",\n\n    \"description\": \"This is a path that I'm\
                    \ testing out\",\n\n    \"sequentialUnlock\": false,\n\n    \"passingScoreRequiredForUnlock\"\
                    : false,\n\n    \"createdAt\": 1515720753544,\n\n    \"updatedAt\": 1515720775278,\n\
                    \n    \"cardBanner\": \"https://bulletinboardfiles-dev.s3-us-west-1.amazonaws.com/uploads/bb/models/training_series/card_banner/678a1042-b4a3-11e9-a065-3af9d3af309e/test-image-1080p.jpg?X-Amz-Expires=86400&X-Amz-Date=20190813T184459Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID/20190813/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=cfa268e5e8a8ff1fe57ea57c921b497d7933041b7c02c247540a2e982ba6cc89\"\
                    ,\n\n    \"timeEstimateSeconds\": 12000,\n\n    \"numGuides\": 3,\n\n    \"numResources\"\
                    : 3,\n\n    \"numChallenges\": 4,\n\n    \"tags\": [\n\n      \"Testing\"\n\n    ]\n\
                    \n  },\n\n  {\n\n    \"id\": \"2c343060-f739-11e7-9e82-02ae164840ac\",\n\n    \"name\"\
                    : \"My Third Path\",\n\n    \"description\": \"This is a new path\",\n\n    \"sequentialUnlock\"\
                    : false,\n\n    \"passingScoreRequiredForUnlock\": false,\n\n    \"createdAt\": 1515721056812,\n\
                    \n    \"updatedAt\": 1515721056812,\n\n    \"cardBanner\": \"https://bulletinboardfiles-dev.s3-us-west-1.amazonaws.com/uploads/bb/models/training_series/card_banner/678a1042-b4a3-11e9-a065-3af9d3af309e/test-image-1080p.jpg?X-Amz-Expires=86400&X-Amz-Date=20190813T184459Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=REDACTED_AWS_ACCESS_KEY_ID/20190813/us-west-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=cfa268e5e8a8ff1fe57ea57c921b497d7933041b7c02c247540a2e982ba6cc89\"\
                    ,\n\n    \"timeEstimateSeconds\": 6000,\n\n    \"numGuides\": 3,\n\n    \"numResources\"\
                    : 2,\n\n    \"numChallenges\": 6,\n\n    \"tags\": []\n\n  }\n\n]\n\nto be in this\
                    \ format:\n\n{\"page\" => 1,\n\n \"per_page\" => 20,\n\n \"has_more\" => false,\n\n\
                    \ \"item_count\" => 1,\n\n \"url\" => \"/api/v1/paths\",\n\n \"data\" =>\n\n  {\"\
                    paths\" =>\n\n    [{\"id\" => \"019adb25-bbbe-75e5-99b8-6ecb84fa1821\",\n\n      \"\
                    name\" => \"empty path\",\n\n      \"description\" => nil,\n\n      \"sequential_unlock\"\
                    \ => nil,\n\n      \"passing_score_required_for_unlock\" => nil,\n\n      \"created_at\"\
                    \ => 1764613274558,\n\n      \"updated_at\" => 1764613274639,\n\n      \"card_banner\"\
                    \ => nil,\n\n      \"time_estimate_seconds\" => nil,\n\n      \"num_guides\" => 0,\n\
                    \n      \"num_resources\" => 0,\n\n      \"num_challenges\" => 0,\n\n      \"tags\"\
                    \ => []}]}}"
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: 'curl https://app.workramp.com/api/v1/paths \

            -H "Authorization: Bearer ACCESS_TOKEN"'
        samples-languages:
        - curl
  /api/v1/paths/{path_id}/assignments:
    get:
      summary: Get All Assignments for a Path
      description: Get all assignments for a path
      operationId: get-all-assignments-for-a-path
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - name: user_id
        in: query
        description: 'Optional parameter: only assignments for this user id will be returned in the response'
        schema:
          type: integer
          format: int32
      - name: path_id
        in: path
        description: ID of the path
        schema:
          type: string
        required: true
      - in: query
        name: legacy_mode
        schema:
          type: boolean
          default: 'true'
        description: For accounts provisioned prior to November 11, 2025, the optional query parameter
          legacy_mode can be set to bypass pagination. When legacy_mode is enabled, the API will return
          the entire result set in a single, non-paginated response.
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: '1'
        description: Page of results to return
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: '20'
        description: Number of results to return per page (1-200)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  page:
                    type: number
                    default: '1'
                  per_page:
                    type: number
                    default: '20'
                  has_more:
                    type: boolean
                    default: 'false'
                  item_count:
                    type: string
                  url:
                    type: string
                  data:
                    type: object
                    properties:
                      assignments:
                        type: array
                        items:
                          properties:
                            id:
                              type: string
                            user_id:
                              type: string
                            title:
                              type: string
                            training_series_id:
                              type: string
                            assigner_id:
                              type: string
                            overall_grade:
                              type: number
                            is_completed:
                              type: boolean
                            due_date:
                              type: number
                            created_at:
                              type: number
                            updated_at:
                              type: number
                            created_through:
                              type: string
                            num_modules:
                              type: number
                            modules_completed:
                              type: number
                            completion_percentage:
                              type: number
                            completed_at:
                              type: number
                            tags:
                              type: array
                              items:
                                type: string
                            time_spent:
                              type: string
                            status:
                              type: string
                            is_completed_on_time:
                              type: boolean
                            passed:
                              type: boolean
                            passing_grade_required:
                              type: boolean
                            is_overdue:
                              type: boolean
                            num_days_overdue:
                              type: number
                            first_accessed_at:
                              type: number
                            last_accessed_at:
                              type: number
                          type: object
                required:
                - page
              examples:
                OK:
                  summary: OK
                  value:
                    page: 1
                    per_page: 2
                    has_more: true
                    item_count: 2
                    url: /api/v1/paths/96d27096-5d63-435f-949e-5170cab307d1/assignments
                    data:
                      assignments:
                      - id: 9b4cdf9b-90cb-4853-989d-42e76718f1e6
                        user_id: 12345
                        title: How to make cupcakes
                        training_series_id: 96d27096-5d63-435f-949e-5170cab307d1
                        assigner_id: 1234
                        overall_grade: null
                        is_completed: false
                        due_date: 1767254400000
                        created_at: 1765316990000
                        updated_at: 1765316990000
                        created_through: Automatic Assignment
                        num_modules: 1
                        modules_completed: 0
                        completion_percentage: 0
                        completed_at: null
                        tags:
                        - MyTag
                        - AnotherTag
                        time_spent: null
                        status: not_started
                        is_completed_on_time: null
                        passed: false
                        passing_grade_required: null
                        is_overdue: false
                        num_days_overdue: null
                        first_accessed_at: null
                        last_accessed_at: null
                      - id: 4c429d58-6d4e-4901-8350-8314e858d1b5
                        user_id: 234324
                        title: How to make a great cup of coffee
                        training_series_id: 96d27096-5d63-435f-949e-5170cab307d1
                        assigner_id: 1234
                        overall_grade: null
                        is_completed: false
                        due_date: 1767254400000
                        created_at: 1765316990000
                        updated_at: 1765316990000
                        created_through: Automatic Assignment
                        num_modules: 1
                        modules_completed: 0
                        completion_percentage: 0
                        completed_at: null
                        tags:
                        - MyTag
                        - AnotherTag
                        time_spent: null
                        status: not_started
                        is_completed_on_time: null
                        passed: false
                        passing_grade_required: null
                        is_overdue: false
                        num_days_overdue: null
                        first_accessed_at: null
                        last_accessed_at: null
                OK - legacy_mode:
                  summary: OK - legacy_mode
                  value:
                  - id: 782a8f52-b069-11e8-8d40-06cfa4e7b2f4
                    userId: 2614323
                    trainingSeriesId: 2be286b4-ad4f-11e8-c7e9-065821035730
                    assignerId: 1156812
                    dueDate: 1536278400000
                    isCompleted: false
                    createdAt: 1536082766785
                    updatedAt: 1536082766785
                    createdThrough: null
                    numModules: 4
                    modulesCompleted: 2
                    completionPercentage: 50
                    timeSpent: 43
                    tags:
                    - Path Tag
                  - id: 37eb5c4e-b081-11e8-8600-0260b0cd3c00
                    userId: 1156832
                    trainingSeriesId: 2be286b4-ad4f-11e8-c7e9-065821035730
                    assignerId: 1156812
                    dueDate: 1536278400000
                    isCompleted: true
                    createdAt: 1536092966709
                    updatedAt: 1536092966709
                    createdThrough: null
                    numModules: 4
                    modulesCompleted: 2
                    completionPercentage: 100
                    timeSpent: null
                    tags:
                    - Path Tag
      deprecated: false
  /api/v1/path_assignments/{assignment_id}:
    delete:
      summary: Delete Path Assignment
      description: Delete a specific assignment
      operationId: delete-assignment-1
      parameters:
      - name: assignment_id
        in: path
        description: ID of the assignment to be unassigned
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: 'true

                    '
              schema:
                type: boolean
                example: true
                default: true
      deprecated: false
  /api/v1/certifications:
    get:
      summary: Get All Certifications
      description: Fetches all badges created in /admin/badges
      operationId: get-all-certifications-1
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      - in: query
        name: legacy_mode
        schema:
          type: boolean
          default: 'true'
        required: false
        description: For accounts provisioned prior to November 11, 2025, the optional query parameter
          legacy_mode can be set to bypass pagination. When legacy_mode is enabled, the API will return
          the entire result set in a single, non-paginated response.
      - in: query
        name: page
        schema:
          type: integer
          format: int32
          default: '1'
        description: Page of results to return
      - in: query
        name: per_page
        schema:
          type: integer
          format: int32
          default: '20'
        description: Number of results to return per page (1-200)
      responses:
        '200':
          description: Result
          content:
            application/json:
              examples:
                ? ''
                : summary: ''
                  value: '{}'
                ' Result':
                  summary: ' Result'
                  value:
                    page: 1
                    per_page: 20
                    has_more: false
                    item_count: 4
                    url: /api/v1/certifications
                    data:
                      certifications:
                      - id: ecfd0b48-62d2-11e6-8ef2-06871305d8f3
                        title: AE Onboarding
                        is_deleted: false
                        created_at: 1471146922841
                        updated_at: 1471146943642
                      - id: 662b500e-3a93-11e3-b978-06d818a6b395
                        title: SDR Level 2
                        is_deleted: false
                        created_at: 1466831543009
                        updated_at: 1466831544553
                      - id: 28a78272-50a3-11e6-b0f4-06571305d8f3
                        title: Challenger Sales
                        is_deleted: false
                        created_at: 1469257237333
                        updated_at: 1470530302845
                      - id: 01a1452e-61d3-11e6-bff9-06d818a6b395
                        title: CSM Champion
                        is_deleted: false
                        created_at: 1471146957891
                        updated_at: 1471146959834
                Result - legacy_mode enabled:
                  summary: Result - legacy_mode enabled
                  value:
                  - id: ecfd0b48-62d2-11e6-8ef2-06871305d8f3
                    title: AE Onboarding
                    isDeleted: false
                    createdAt: 1471146922840.7722
[...]
