openapi: 3.2.0
info:
  title: Workramp Academies API
  version: '1.0'
  description: 'Operations tagged Academies across 2 of this provider''s published API definitions: workramp-api-settings-openapi.yml, workramp-json-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://app.workramp.com
security:
- sec0: []
tags:
- name: Academies
paths:
  /api/v1/academies/{academy_id}/users:
    get:
      summary: Get All Contacts
      description: Get all Contacts in an Academy. Results can be filtered by name, email, email domain, status, and custom registration fields. All filters combine with AND. By default, both Active and Deactivated Contacts are returned, including Contacts with a pending invitation. Results are always sorted by email, ascending.
      operationId: get-academy-customer-users
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      - name: name
        in: query
        description: Optional. Returns Contacts whose name contains this value (case-insensitive, partial match).
        schema:
          type: string
      - name: email
        in: query
        description: Optional. Returns Contacts whose email address contains this value (case-insensitive partial match). For example, `email=bob@example.com` also matches `alice.bob@example.com`. To match one address exactly, use `exact_email`.
        schema:
          type: string
      - in: query
        name: email_domain
        schema:
          type: string
        description: 'Optional. Returns Contacts whose email address ends in exactly `@<value>` (case-insensitive). Subdomains are not included: `example.com` does not match `bob@mail.example.com`.'
      - in: query
        name: exact_email
        schema:
          type: string
        description: Optional. Returns only the Contact whose email address exactly matches this value. Matching is case-insensitive, and surrounding whitespace is ignored. No partial matching is performed. When `exact_email` is provided, the `email` and `email_domain` parameters are ignored.
      - name: status
        in: query
        description: Optional. `Active` returns only active Contacts; `Deactivated` returns only deactivated Contacts. If omitted, both are returned.
        schema:
          type: string
          enum:
          - Active
          - Deactivated
      - name: custom_registration_fields
        in: query
        description: Optional object with a single key-value pair where the key represents the custom registration field name and the value represents the custom attribute field value. (e.g. `custom_registration_fields%5Bnickname%5D=Bobby` ) -- **NOTE:** This tool can't generate this parameter for you because the parameter name itself (such as `custom_registration_fields[example]`) is dynamic.
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"page\": 1,\n    \"per_page\": 100,\n    \"has_more\": false,\n    \"url\": \"https://app.workramp.com/api/v1/academies/:academy_id/users\",\n    \"data\": {\n        \"users\": [\n            {\n                \"id\": \"d3d6edf4-e25d-11ea-be19-0242ac140003\",\n                \"email\": \"ted+apitester1234@workramp.com\",\n                \"segments\": [],\n                \"display_name\": \"Jane Doe\",\n                \"first_name\": \"Jane\",\n                \"last_name\": \"Doe\",\n                \"created_at\": \"2022-06-08 14:59:04 UTC\",\n                \"custom_registration_field_values\": [\n                    {\n                        \"value\": \"Gold\",\n                        \"name\": \"customer_tier\"\n                    }\n                ]\n            },\n            {...},\n            {...}\n        ]\n    }\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      tags:
      - Academies
    post:
      summary: Create Contact
      description: Creates a new contact in your Academy. You can create a contact with a password, or, if you use SSO or another login mechanism, you can just use this to ensure that the user has been created, for instance, if you want to add them to a segment before they first visit the site.
      operationId: create-contact
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: Content-Type
        in: header
        description: Always application/json
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - name
              properties:
                email:
                  type: string
                  description: The email address of the Contact
                name:
                  type: string
                  description: The name of the Contact
                password:
                  type: string
                  description: (Optional) If you'd like the contact to sign in with a password. Not needed when using SSO, magic links, or another login mechanism.
                custom_registration_fields:
                  type: string
                  description: 'JSON dictionary where keys are the "API Name" of your registration field to set, and the values are the values to set. e.g. `{"favorite_color": "blue"}`'
                  default: '{}'
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"url\": \"/api/v1/academies/c8be6efc-c511-11ee-8dca-000000000001/users\",\n  \"data\": {\n    \"user\": {\n      \"id\": \"01902776-8464-76c5-a173-293333b17baa\",\n      \"email\": \"john@doe.com\",\n      \"segments\": [],\n      \"display_name\": \"John Doe\",\n      \"first_name\": \"John\",\n      \"last_name\": \"Doe\",\n      \"created_at\": \"2024-06-17 18:29:56 UTC\",\n      \"custom_registration_field_values\": [\n      \t{\n      \t\t\"academy_registration_field_id\": \"field-id-1234\",\n      \t\t\"name\": \"department\",\n      \t\t\"value\": \"Sales\"\n    \t\t}\n      ],\n      \"status\": \"Active\"\n    }\n  }\n}"
              schema:
                type: object
                properties:
                  url:
                    type: string
                    example: /api/v1/academies/c8be6efc-c511-11ee-8dca-000000000001/users
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                            example: 01902776-8464-76c5-a173-293333b17baa
                          email:
                            type: string
                            example: john@doe.com
                          segments:
                            type: array
                          display_name:
                            type: string
                            example: John Doe
                          first_name:
                            type: string
                            example: John
                          last_name:
                            type: string
                            example: Doe
                          created_at:
                            type: string
                            example: 2024-06-17 18:29:56 UTC
                          custom_registration_field_values:
                            type: array
                            items:
                              type: object
                              properties:
                                academy_registration_field_id:
                                  type: string
                                  example: field-id-1234
                                name:
                                  type: string
                                  example: department
                                value:
                                  type: string
                                  example: Sales
                          status:
                            type: string
                            example: Active
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"type\": \"invalid_params\",\n  \"message\": \"Invalid custom parameters: badField1, badField2\"\n}"
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: invalid_params
                  message:
                    type: string
                    example: 'Invalid custom parameters: badField1, badField2'
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/users/{contact_id}:
    get:
      summary: Get Contact
      description: Get a specific Contact in an Academy
      operationId: get-user
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: contact_id
        in: path
        description: The id of the Contact
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"page\": 1,\n    \"per_page\": 100,\n    \"has_more\": false,\n    \"url\": \"https://app.workramp.com/api/v1/academies/:academy_id/users/:user_id\",\n    \"data\": {\n        \"user\": {\n            \"id\": \"d3d6edf4-e25d-11ea-be19-0242ac140003\",\n            \"email\": \"ted+apitester1234@workramp.com\",\n            \"display_name\": \"Jane Doe\",\n            \"first_name\": \"Jane\",\n            \"last_name\": \"Doe\"\n        }\n    }\n}"
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  per_page:
                    type: integer
                    example: 100
                    default: 0
                  has_more:
                    type: boolean
                    example: false
                    default: true
                  url:
                    type: string
                    example: https://app.workramp.com/api/v1/academies/:academy_id/users/:user_id
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                            example: d3d6edf4-e25d-11ea-be19-0242ac140003
                          email:
                            type: string
                            example: ted+apitester1234@workramp.com
                          display_name:
                            type: string
                            example: Jane Doe
                          first_name:
                            type: string
                            example: Jane
                          last_name:
                            type: string
                            example: Doe
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    delete:
      summary: Delete Contact
      description: Soft-delete/deactivate an Academy Contact
      operationId: delete-academy-user
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: contact_id
        in: path
        description: The id of the Contact
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    patch:
      summary: Update Contact
      description: Updates any of a Academy Contact's default or custom attributes using a JSON dictionary
      operationId: update-academy-user
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: contact_id
        in: path
        description: The id of the Contact
        schema:
          type: string
        required: true
      - name: Content-Type
        in: header
        description: Always send JSON format
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                RAW_BODY:
                  type: object
                  description: Send as JSON
                  properties:
                    name:
                      type: string
                      description: new full name for the contact
                    email:
                      type: string
                      description: new email for the contact
                    password:
                      type: string
                      description: new password to set for the contact
                    custom_registration_fields:
                      type: string
                      description: 'JSON dictionary where keys are the "API Name" of your registration field to set, and the values are the values to set. e.g. `{"favorite_color": "blue"}`'
                      format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"abcdef-1234\",\n  \"created_at\": 1689013085,\n  \"custom_registration_field_values\": [\n    {\n      \"academy_registration_field_id\": \"field-id-1234\",\n      \"name\": \"department\",\n      \"value\": \"Sales\"\n    }\n  ],\n  \"display_name\": \"John Doe\",\n  \"email\": \"johndoe@example.com\",\n  \"first_name\": \"John\",\n  \"last_name\": \"Doe\",\n  \"segments\": [],\n  \"status\": \"Active\"      \n}"
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: abcdef-1234
                  created_at:
                    type: integer
                    example: 1689013085
                    default: 0
                  custom_registration_field_values:
                    type: array
                    items:
                      type: object
                      properties:
                        academy_registration_field_id:
                          type: string
                          example: field-id-1234
                        name:
                          type: string
                          example: department
                        value:
                          type: string
                          example: Sales
                  display_name:
                    type: string
                    example: John Doe
                  email:
                    type: string
                    example: johndoe@example.com
                  first_name:
                    type: string
                    example: John
                  last_name:
                    type: string
                    example: Doe
                  segments:
                    type: array
                  status:
                    type: string
                    example: Active
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"type\": \"invalid_params\",\n  \"message\": \"Invalid custom parameters: badField1, badField2\"\n}"
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: invalid_params
                  message:
                    type: string
                    example: 'Invalid custom parameters: badField1, badField2'
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/invite:
    post:
      summary: Invite Contacts
      description: Invite Contacts to an Academy
      operationId: invite-users
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: Content-type
        in: header
        description: Always application/json
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                userEmailsToInvite:
                  type: array
                  description: Array of Contact emails you'd like to invite to the academy.
                  items:
                    type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"errors\": [],\n    \"newAcademyInvitations\": [\n        {\n            \"email\": \"test2@workramp.com\",\n            \"id\": \"6b6efe96-117c-11ed-90c8-3ea79e467329\",\n            \"inviteHash\": \"LibFxu3D9lms3F8VMadf-A\",\n            \"lastInvitedAt\": 1659346159439,\n            \"originallyInvitedAt\": 1659346159439\n        }\n    ]\n}"
              schema:
                type: object
                properties:
                  errors:
                    type: array
                  newAcademyInvitations:
                    type: array
                    items:
                      type: object
                      properties:
                        email:
                          type: string
                          example: test2@workramp.com
                        id:
                          type: string
                          example: 6b6efe96-117c-11ed-90c8-3ea79e467329
                        inviteHash:
                          type: string
                          example: LibFxu3D9lms3F8VMadf-A
                        lastInvitedAt:
                          type: integer
                          example: 1659346159439
                          default: 0
                        originallyInvitedAt:
                          type: integer
                          example: 1659346159439
                          default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/segments/{segment_id}/remove_users:
    delete:
      summary: Remove Contacts from Segment
      description: Remove Contacts from Academy Segment
      operationId: remove-users-from-segment
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: segment_id
        in: path
        description: The id of the segment
        schema:
          type: string
        required: true
      - name: Content-Type
        in: header
        description: Always application/json
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                userEmails:
                  type: array
                  description: Array of Contact emails you'd like to remove from the segment.
                  items:
                    type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"status\": true\n}"
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                    default: true
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/users-duplicate:
    get:
      summary: Get All Contacts (support duplicated)
      description: Get all Contacts in an Academy
      operationId: get-all-users-support-duplicated
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                custom_registration_fields:
                  type: string
                  format: json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"page\": 1,\n    \"per_page\": 100,\n    \"has_more\": false,\n    \"url\": \"https://app.workramp.com/api/v1/academies/:academy_id/users\",\n    \"data\": {\n        \"users\": [\n            {\n                \"id\": \"d3d6edf4-e25d-11ea-be19-0242ac140003\",\n                \"email\": \"ted+apitester1234@workramp.com\",\n                \"segments\": [],\n                \"display_name\": \"Jane Doe\",\n                \"first_name\": \"Jane\",\n                \"last_name\": \"Doe\",\n                \"created_at\": \"2022-06-08 14:59:04 UTC\",\n                \"custom_registration_field_values\": [\n                    {\n                        \"value\": \"Gold\",\n                        \"name\": \"customer_tier\"\n                    }\n                ]\n            },\n            {...},\n            {...}\n        ]\n    }\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/segments/{segment_id}/invite:
    post:
      summary: Assign Segments
      description: Add Contacts to an Academy Segment
      operationId: assign-segments
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: segment_id
        in: path
        description: The id of the segment
        schema:
          type: string
        required: true
      - name: userEmails
        in: query
        description: 'Array of Contact emails you''d like to invite to the segment. **NOTE: Contact must be registered in order to be placed in a segment**'
        schema:
          type: array
          items:
            type: string
      - name: Content-type
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"numAddedToGroup\": 1,\n    \"numConvertedToManual\": 0,\n    \"numAlreadyInGroup\": 0,\n    \"numDeletedUser\": 0,\n    \"numUnregisteredUser\": 0\n}"
              schema:
                type: object
                properties:
                  numAddedToGroup:
                    type: integer
                    example: 1
                    default: 0
                  numConvertedToManual:
                    type: integer
                    example: 0
                    default: 0
                  numAlreadyInGroup:
                    type: integer
                    example: 0
                    default: 0
                  numDeletedUser:
                    type: integer
                    example: 0
                    default: 0
                  numUnregisteredUser:
                    type: integer
                    example: 0
                    default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: 'curl "https://app.workramp.com/api/v1/academies/233710e8-a938-11ec-ae72-3ea79e46732a/segments/cd0ce734-0e85-11ed-bc8c-3ea79e467329/invite

            -H "Authorization: Bearer ACCESS_TOKEN" \

            -H "Content-type: application/json" \

            -d ''{ "userEmails": ["testemail@workramp.com"] }'' \

            -X POST'
        samples-languages:
        - curl
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/users/{contact_id}/awarded_certifications:
    get:
      summary: Get All Awarded Certifications For a Contact
      description: ''
      operationId: get-all-awarded-certifications-for-a-user
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: contact_id
        in: path
        description: The id of the Contact
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"page\": 1,\n    \"per_page\": 100,\n    \"has_more\": false,\n    \"url\": \"https://app.workramp.com/api/v1/academies/:academy_id/users/:user_id/awarded_certifications\" ,\n    \"data\": {\n        \"user_id\": \"d3d6edf4-e25d-11ea-be19-0242ac140003\",\n        \"awarded_certifications\": [\n            {\n                \"id\": 242424,\n                \"badge_image\": \"some_img_1.jpg\",\n                \"display_title\": \"Certified Cert\"\n            }\n        ]\n    }\n}"
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  per_page:
                    type: integer
                    example: 100
                    default: 0
                  has_more:
                    type: boolean
                    example: false
                    default: true
                  url:
                    type: string
                    example: https://app.workramp.com/api/v1/academies/:academy_id/users/:user_id/awarded_certifications
                  data:
                    type: object
                    properties:
                      user_id:
                        type: string
                        example: d3d6edf4-e25d-11ea-be19-0242ac140003
                      awarded_certifications:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 242424
                              default: 0
                            badge_image:
                              type: string
                              example: some_img_1.jpg
                            display_title:
                              type: string
                              example: Certified Cert
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/certifications/{certification_id}/invite:
    post:
      summary: Assign Certificates
      description: Assign certificates to Academy Contacts
      operationId: assign-certificates
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: certification_id
        in: path
        description: The id of the certificate
        schema:
          type: string
        required: true
      - name: Content-type
        in: header
        description: Always use application/json
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                userEmails:
                  type: array
                  description: Array of Contact emails you'd like to invite to the training.
                  items:
                    type: string
                dueAt:
                  type: integer
                  description: Number of milliseconds since 1970-01-01 00:00:00 UTC.
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"errors\": [],\n    \"assignments\": [\n        {\n            \"id\": \"86971320-19d3-11ed-8678-3ea79e467329\",\n            \"awardedAt\": null,\n            \"completed\": false,\n            \"externalUser\": {\n                \"academySegments\": [\n                    {\n                        \"name\": \"Segment 1\"\n                    }\n                ],\n                \"id\": \"40cfc380-0ed1-11ed-9885-3ea79e467329\",\n                \"createdAt\": 1659052741665,\n                \"displayName\": \"Test Account\",\n                \"email\": \"test@workramp.com\",\n                \"updatedAt\": 1659052741742,\n                \"academyRegistrationFieldValues\": [],\n                \"assignments\": [\n                    {\n                        \"id\": \"1d7b3ae0-0efe-11ed-9885-3ea79e467329\",\n                        \"completedAt\": null\n                    }\n                ]\n            }\n        }\n    ],\n    \"trainingInvitations\": []\n}"
              schema:
                type: object
                properties:
                  errors:
                    type: array
                  assignments:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 86971320-19d3-11ed-8678-3ea79e467329
                        awardedAt: {}
                        completed:
                          type: boolean
                          example: false
                          default: true
                        externalUser:
                          type: object
                          properties:
                            academySegments:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    example: Segment 1
                            id:
                              type: string
                              example: 40cfc380-0ed1-11ed-9885-3ea79e467329
                            createdAt:
                              type: integer
                              example: 1659052741665
                              default: 0
                            displayName:
                              type: string
                              example: Test Account
                            email:
                              type: string
                              example: test@workramp.com
                            updatedAt:
                              type: integer
                              example: 1659052741742
                              default: 0
                            academyRegistrationFieldValues:
                              type: array
                            assignments:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    example: 1d7b3ae0-0efe-11ed-9885-3ea79e467329
                                  completedAt: {}
                  trainingInvitations:
                    type: array
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/paths/{path_id}/invite:
    post:
      summary: Assign Paths
      description: Assign paths to Academy Contacts
      operationId: assign-paths
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: path_id
        in: path
        description: The id of the path
        schema:
          type: string
        required: true
      - name: Content-type
        in: header
        description: Always use application/json
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                userEmails:
                  type: array
                  description: Array of Contact emails you'd like to invite to the training.
                  items:
                    type: string
                dueAt:
                  type: integer
                  description: Number of milliseconds since 1970-01-01 00:00:00 UTC.
                  format: int32
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/users/{contact_id}/registrations/{registration_id}:
    get:
      summary: Get Registration by Contact ID & Registration ID
      description: 'Fetch a specific Academy registration by ID for a given Contact ID. NOTE: If you have the Registration ID, you don''t need this. You could just use the **Get Registration by ID** endpoint.'
      operationId: get-all-registrations-for-a-user-1
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: contact_id
        in: path
        description: The id of the Contact
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      - name: registration_id
        in: path
        description: The id of the registration
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"page\": 1,\n    \"per_page\": 100,\n    \"has_more\": false,\n    \"url\": \"https://app.workramp.com/api/v1/academies/:academy_id/users/:user_id/registrations\",\n    \"data\": {\n        \"user_id\": \"d3d6edf4-e25d-11ea-be19-0242ac140003\",\n        \"registration\": {\n            \"id\": \"d3d6edf4-e25d-11ea-be19-0242ac140004\",\n            \"completed_at\": 1488144236206.5808,\n            \"is_completed\": true,\n            \"completion_percentage\": 100,\n            \"score\": 95,\n            \"due_at\": 1488144236206.5808,\n            \"due_date\": 1488144236206.5808,\n            \"pass_status\": \"passed\",\n            \"content\": {\n                \"id\": \"d3d6edf4-e25d-11ea-be19-0242ac140005\",\n                \"academy_overview_description\": \"Foo Bar\",\n                \"card_banner\": \"foo_bar.jpg\",\n                \"description\": \"Bar\",\n                \"title\": \"Foo\",\n            }\n        }\n    }\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/trainings/{training_id}/registrations:
    get:
      summary: Get All Registrations for a Training
      description: ''
      operationId: get-all-registrations-for-a-training
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: training_id
        in: path
        description: The id of the training
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"page\": 1,\n    \"per_page\": 100,\n    \"has_more\": false,\n    \"url\": \"https://app.workramp.com//api/v1/academies/:academy_id/trainings/:training_id/registrations\" ,\n    \"data\": {\n        \"academy_id\": \"123\",\n        \"registrations\": [\n            {\n                \"id\": \"12345\",\n                \"completed_at\": 1488144236206.5808,\n                \"is_completed\": true,\n                \"completion_percentage\": 100,\n                \"score\": 95,\n                \"due_at\": 1488144236206.5808,\n                \"due_date\": 1488144236206.5808,\n              \t\"grading_status\": \"completed\",\n              \t\"pass_status\": \"passed\", \n\t\t\t\t\t\t\t\t\"enrollment_method\": \"invited\",\n      \t\t\t\t\t\"internal_assigner_id\": 1,\n                \"content\": {\n                    \"id\": \"4567\",\n                    \"academy_overview_description\": \"Foo Bar\",\n                    \"card_banner\": \"foo_bar.jpg\",\n                    \"description\": \"Bar\",\n                    \"title\": \"Foo\",\n                }\n            },\n\t\t\t\t\t\t{\n                \"id\": \"23456\",\n                \"completed_at\": 1488144236206.5808,\n                \"is_completed\": true,\n                \"completion_percentage\": 100,\n                \"score\": 95,\n                \"due_at\": 1488144236206.5808,\n                \"due_date\": 1488144236206.5808,\n              \t\"grading_status\": \"completed\",\n              \t\"pass_status\": \"passed\", \n\t\t\t\t\t\t\t\t\"enrollment_method\": \"self-started\",\n      \t\t\t\t\t\"internal_assigner_id\": null,\n                \"content\": {\n                    \"id\": \"4567\",\n                    \"academy_overview_description\": \"Foo Bar\",\n                    \"card_banner\": \"foo_bar.jpg\",\n                    \"description\": \"Bar\",\n                    \"title\": \"Foo\",\n                }\n            },\n\t\t\t\t\t\t{\n                \"id\": \"43212\",\n                \"completed_at\": 1488144236206.5808,\n                \"is_completed\": true,\n                \"completion_percentage\": 100,\n                \"score\": 95,\n                \"due_at\": 1488144236206.5808,\n                \"due_date\": 1488144236206.5808,\n              \t\"grading_status\": \"completed\",\n              \t\"pass_status\": \"passed\", \n\t\t\t\t\t\t\t\t\"enrollment_method\": \"self-started\",\n      \t\t\t\t\t\"internal_assigner_id\": null,\n                \"content\": {\n                    \"id\": \"4567\",\n                    \"academy_overview_description\": \"Foo Bar\",\n                    \"card_banner\": \"foo_bar.jpg\",\n                    \"description\": \"Bar\",\n                    \"title\": \"Foo\",\n                }\n            },\n\t\t\t\t\t\t{\n                \"id\": \"34567\",\n                \"completed_at\": 1488144236206.5808,\n                \"is_completed\": true,\n                \"completion_percentage\": 100,\n                \"score\": 95,\n                \"due_at\": 1488144236206.5808,\n                \"due_date\": 1488144236206.5808,\n              \t\"grading_status\": \"completed\",\n              \t\"pass_status\": \"passed\", \n\t\t\t\t\t\t\t\t\"enrollment_method\": \"invited\",\n      \t\t\t\t\t\"internal_assigner_id\": 3,\n                \"content\": {\n                    \"id\": \"4567\",\n                    \"academy_overview_description\": \"Foo Bar\",\n                    \"card_banner\": \"foo_bar.jpg\",\n                    \"description\": \"Bar\",\n                    \"title\": \"Foo\",\n                }\n            }\n        ]\n    }\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/certifications/{cert_id}:
    get:
      summary: Get All Enrollments for a Certification
      description: ''
      operationId: get-certification
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: cert_id
        in: path
        description: The Certification ID
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    page: 1
                    per_page: 100
                    has_more: false
                    url: https://app.workramp.com/api/v1/academies/:academy_id/certifications/:cert_id
                    data:
                      certification:
                        awarded_by_name: Mr Certifications
                        awarded_by_title: Chief Certifier
                        created_at: 1754512880983
                        description: A really cool certification
                        id: 0198811d-f557-79c9-93d9-cf7f67add436
                        name: Cool Certification
                      awarded_certifictions:
                      - id: 0198811d-f5c3-70c5-8226-c7405dea3014
                        name: Jane Doe
                        email: JaneDoe@example.com
                        awarded_at: 1488144236206.5808
                        assigner_user_id: 1
                        enrollment_method: invited
                        progress_percentage: 100
                      - id: 0198811d-f593-7420-87e1-afc443ec315e
                        name: John Doe
                        email: JohnDoe@example.com
                        awarded_at: null
                        assigner_user_id: null
                        enrollment_method: self-started
                        progress_percentage: 0
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  per_page:
                    type: integer
                    example: 100
                    default: 0
                  has_more:
                    type: boolean
                    example: false
                    default: true
                  url:
                    type: string
                    example: https://app.workramp.com/api/v1/academies/:academy_id/certifications/:cert_id
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '14144'
                        name:
                          type: string
                          example: Jane Doe
                        email:
                          type: string
                          example: JaneDoe@workramp.com
                        awarded_at:
                          type: number
                          example: 1488144236206.5808
                          default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/paths/{path_id}:
    get:
      summary: Get All Enrollments for a Path
      description: ''
      operationId: get-all-enrollments-for-a-path
      parameters:
      - name: academy_id
        in: path
        description: The ID of the Academy
        schema:
          type: string
        required: true
      - name: path_id
        in: path
        description: The Path ID
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    page: 1
                    per_page: 20
                    has_more: false
                    item_count: 1
                    url: /api/v1/academies/baseba11-c0de-ce11-ca11-b1adea110c8d/paths/baseba11-dead-de11-dead-b01dfacedead
                    data:
                      path:
                        created_at: 1665158128175
                        description: Here is a really excellent description
                        id: deedcafe-c0de-babe-1ace-ca1110c8c0de
                        name: Mars Pathfinder Path
                      completed_paths:
                      - id: 0198811d-f5c3-70c5-8226-c7405dea3014
                        name: Jane Doe
                        email: JaneDoe@example.com
                        completed_at: 1488144236206.5808
                        assigner_user_id: 1
                        enrollment_method: invited
                        progress_percentage: 100
                      - id: 0198811d-f593-7420-87e1-afc443ec315e
                        name: John Doe
                        email: JohnDoe@example.com
                        completed_at: null
                        assigner_user_id: null
                        enrollment_method: self-started
                        progress_percentage: 0
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  per_page:
                    type: integer
                    example: 20
                    default: 0
                  has_more:
                    type: boolean
                    example: false
                    default: true
                  item_count:
                    type: integer
                    example: 1
                    default: 0
                  url:
                    type: string
                    example: /api/v1/academies/baseba11-c0de-ce11-ca11-b1adea110c8d/paths/baseba11-dead-de11-dead-b01dfacedead
                  data:
                    type: object
                    properties:
                      path:
                        type: object
                        properties:
                          created_at:
                            type: integer
                            example: 1665158128175
                            default: 0
                          description:
                            type: string
                            example: Here is a really excellent description
                          id:
                            type: string
                            example: deedcafe-c0de-babe-1ace-ca1110c8c0de
                          name:
                            type: string
                            example: Mars Pathfinder Path
                      completed_paths:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: baseba11-deb8-1ead-ba1d-1eafb01dface
                            name:
                              type: string
                              example: Donald Duck
                            email:
                              type: string
                              example: demoacademyuser2@example.com
                            completed_at:
                              type: number
                              example: 1726697288.7276318
                              default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/registrations:
    get:
      summary: Get All Registrations
      description: ''
      operationId: get-all-registrations
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"page\": 1,\n    \"per_page\": 100,\n    \"has_more\": false,\n    \"url\": \"https://app.workramp.com/api/v1/academies/:academy_id/registrations\",\n    \"data\": {\n        \"registrations\": [\n            {\n                \"id\": \"8933b28e-dac0-11ec-b88d-0663a65fe87f\",\n                \"completed_at\": 1488144236206.5808,\n                \"completion_percentage\": 100,\n                \"created_at\": 148814423206.1234,\n                \"due_at\": 1488144236206.5808,\n                \"due_date\": 1488144236206.5808,\n              \t\"grading_status\": \"completed\",\n                \"is_completed\": true,\n                \"pass_status\": \"passed\",\n                \"score\": 95,\n                \"content\": {\n                    \"content\": {\n                        \"id\": \"4567\",\n                        \"academy_overview_description\": \"Foo Bar\",\n                        \"card_banner\": \"foo_bar.jpg\",\n                        \"description\": \"Bar\",\n                        \"title\": \"Foo\"\n                    }\n                },\n                \"user\": {\n                    \"user\": {\n                        \"id\": \"83d0e5a0-dac0-11ec-ab66-0626dc1a526d\",\n                        \"display_name\": \"Demo Learner\",\n                        \"email\": \"demolearner@workramp.com\",\n                        \"first_name\": \"Demo\",\n                        \"last_name\": \"Learner\"\n                    }\n                }\n            }\n        ]\n    }\n}\n"
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  per_page:
                    type: integer
                    example: 100
                    default: 0
                  has_more:
                    type: boolean
                    example: false
                    default: true
                  url:
                    type: string
                    example: https://app.workramp.com/api/v1/academies/:academy_id/registrations
                  data:
                    type: object
                    properties:
                      registrations:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: 8933b28e-dac0-11ec-b88d-0663a65fe87f
                            completed_at:
                              type: number
                              example: 1488144236206.5808
                              default: 0
                            completion_percentage:
                              type: integer
                              example: 100
                              default: 0
                            created_at:
                              type: number
                              example: 148814423206.1234
                              default: 0
                            due_at:
                              type: number
                              example: 1488144236206.5808
                              default: 0
                            due_date:
                              type: number
                              example: 1488144236206.5808
                              default: 0
                            grading_status:
                              type: string
                              example: completed
                            is_completed:
                              type: boolean
                              example: true
                              default: true
                            pass_status:
                              type: string
                              example: passed
                            score:
                              type: integer
                              example: 95
                              default: 0
                            content:
                              type: object
                              properties:
                                content:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      example: '4567'
                                    academy_overview_description:
                                      type: string
                                      example: Foo Bar
                                    card_banner:
                                      type: string
                                      example: foo_bar.jpg
                                    description:
                                      type: string
                                      example: Bar
                                    title:
                                      type: string
                                      example: Foo
                            user:
                              type: object
                              properties:
                                user:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                      example: 83d0e5a0-dac0-11ec-ab66-0626dc1a526d
                                    display_name:
                                      type: string
                                      example: Demo Learner
                                    email:
                                      type: string
                                      example: demolearner@workramp.com
                                    first_name:
                                      type: string
                                      example: Demo
                                    last_name:
                                      type: string
                                      example: Learner
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/awarded_certifications:
    get:
      summary: Get All Awarded Certifications
      description: ''
      operationId: get-all-awarded-certifications
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      - name: start
        in: query
        description: Return certificates awarded at or after this datetime (10-digit seconds from epoch)
        schema:
          type: string
          format: date-time
      - name: end
        in: query
        description: Return certificates awarded at or before this datetime (10-digit seconds from epoch)
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"page\": 1,\n    \"per_page\": 100,\n    \"has_more\": false,\n    \"url\": \"https://app.workramp.com/api/v1/academies/:academy_id/awarded_certifications\",\n    \"data\": {\n        \"awarded_certifications\": [\n            {\n              \"id\": \"2242432\",\n              \"name\": \"Basic Training\",\n              \"description\": \"Basic Training Certification\",\n              \"user_id\": \"1313313\",\n              \"user_name\": \"Johnny\",\n              \"user_email\": \"Johns\",\n              \"awarded_at\": 1488144236206.5808\n            }\n        ]\n    }\n}"
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  per_page:
                    type: integer
                    example: 100
                    default: 0
                  has_more:
                    type: boolean
                    example: false
                    default: true
                  url:
                    type: string
                    example: https://app.workramp.com/api/v1/academies/:academy_id/awarded_certifications
                  data:
                    type: object
                    properties:
                      awarded_certifications:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: '2242432'
                            name:
                              type: string
                              example: Basic Training
                            description:
                              type: string
                              example: Basic Training Certification
                            user_id:
                              type: string
                              example: '1313313'
                            user_name:
                              type: string
                              example: Johnny
                            user_email:
                              type: string
                              example: Johns
                            awarded_at:
                              type: number
                              example: 1488144236206.5808
                              default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/registrations/{registration_id}:
    get:
      summary: Get Registration by ID
      description: ''
      operationId: get-registration
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: registration_id
        in: path
        description: The id of the registration
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"page\": 1,\n    \"per_page\": 100,\n    \"has_more\": false,\n    \"url\": \"https://app.workramp.com/api/v1/academies/:academy_id/registrations/:registration_id\" ,\n    \"data\": {\n        \"registration\": {\n            \"id\": \"12345\",\n            \"completed_at\": 1488144236206.5808,\n            \"is_completed\": true,\n            \"completion_percentage\": 100,\n            \"score\": 95,\n            \"due_at\": 1488144236206.5808,\n            \"due_date\": 1488144236206.5808,\n            \"pass_status\": \"passed\",\n            \"content\": {\n                \"id\": \"4567\",\n                \"academy_overview_description\": \"Foo Bar\",\n                \"card_banner\": \"foo_bar.jpg\",\n                \"description\": \"Bar\",\n                \"title\": \"Foo\",\n            }\n        }\n    }\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    delete:
      description: ''
      operationId: delete_apiv1academies{academy_id}registrations{registration_id}
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                Result:
                  summary: Result
                  value: true
      parameters:
      - name: academy_id
        in: path
        required: true
        description: The id of the Academy
        schema:
          type: string
          default: ''
      - name: registration_id
        in: path
        required: true
        description: The id of the Registration
        schema:
          type: string
          default: ''
      tags:
      - Academies
    patch:
      description: ''
      operationId: patch_apiv1academies{academy_id}registrations{registration_id}
      responses:
        '200':
          description: ''
          content:
            application/json:
              examples:
                New Example:
                  summary: New Example
                  value: ''
                Result:
                  summary: Result
                  value: ''
                Result 1:
                  summary: Result 1
                  value:
                    id: abcdef-123
                    score: 100
                    created_at: 1750348881516
                    time_spent: null
                    pass_status: passed
                    is_completed: true
                    completed_at: 1750348881000
                    completion_percentage: 100
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                Result 2:
                  value:
                    type: invalid_params
                    message: is_completed must be the boolean true
                  summary: Result 2
                Result 3:
                  value:
                    type: invalid_params
                    message: completed_at, if provided, must be a valid previous or current iso8601 timestamp
                  summary: Result 3
      parameters:
      - name: academy_id
        in: path
        required: true
        description: The id of the Academy
        schema:
          type: string
          default: ''
      - name: registration_id
        in: path
        required: true
        description: The id of the Registration
        schema:
          type: string
          default: ''
      - name: Content-Type
        in: header
        required: false
        description: Always send JSON format
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              properties:
                is_completed:
                  type: boolean
                  description: Currently supports only the value - true
                completed_at:
                  type: string
                  format: date-time
                  description: Current or previous iso8601 timestamp. Defaults to current time if blank.
                score:
                  type: integer
                  default: '100'
                  description: Specify a score between 0-100.
              type: object
              required:
              - is_completed
      security:
      - sec0: []
      summary: Update Registration (Mark Complete)
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/users/{contact_id}/registrations:
    get:
      summary: Deprecated Get All Registrations for a Contact
      description: 'Fetch all Academy registrations for a given Contact id. Please consider moving to the non-deprecated endpoint: **Get All Registrations for a Contact**'
      operationId: get-all-registrations-for-a-user
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: contact_id
        in: path
        description: The id of the Contact
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"page\": 1,\n    \"per_page\": 100,\n    \"has_more\": false,\n    \"url\": \"https://app.workramp.com/api/v1/academies/:academy_id/users/:user_id/registrations\",\n    \"data\": {\n        \"user_id\": \"d3d6edf4-e25d-11ea-be19-0242ac140003\",\n        \"registrations\": [\n            {\n                \"id\": 12345,\n                \"completed_at\": 1488144236206.5808,\n                \"is_completed\": true,\n                \"completion_percentage\": 100,\n                \"score\": 95,\n                \"due_at\": 1488144236206.5808,\n                \"due_date\": 1488144236206.5808,\n                \"pass_status\": \"passed\",\n                \"content\": {\n                    \"id\": \"4567\",\n                    \"academy_overview_description\": \"Foo Bar\",\n                    \"card_banner\": \"foo_bar.jpg\",\n                    \"description\": \"Bar\",\n                    \"title\": \"Foo\",\n                }\n            }\n        ]\n    }\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/trainings:
    get:
      summary: Get All Trainings
      description: ''
      operationId: get-all-trainings
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"page\": 1,\n    \"per_page\": 100,\n    \"has_more\": false,\n    \"url\": \"https://app.workramp.com/api/v1/academies/:academy_id/trainings\",\n    \"data\": {\n        \"trainings\": [\n            {\n              \"id\": \"d3d6edf4-e25d-11ea-be19-0242ac140013\",\n              \"type\": \"course\",\n              \"name\": \"Some Course\",\n              \"created_at\": 1488144236206.5808,\n              \"card_banner\": nil,\n              \"description\": \"Description\",\n              \"time_estimate_seconds\": 1300\n            }\n        ]\n    }\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/trainings/{training_id}:
    get:
      summary: Get Training
      description: This endpoint is for getting the details of a particular Guide, Resource, or SCORM course when you know its ID.
      operationId: get-training
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: training_id
        in: path
        description: The id of the training
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Guide:
                  value: "{\n    \"url\": \"/api/v1/academies/fffa38ac-ba81-11ec-bdee-027c588d9553/trainings/050aa80e-dabc-11ec-8ca6-067360dfb065\",\n    \"data\": {\n        \"training\": {\n            \"id\": \"050aa80e-dabc-11ec-8ca6-067360dfb065\",\n            \"type\": \"guide\",\n            \"name\": \"Forklift Operations\",\n            \"created_at\": 1653326161493,\n            \"card_banner\": nil,\n            \"description\": \"Description\",\n            \"time_estimate_seconds\": 1300\n        }\n    }\n}\n"
                SCORM:
                  value: "{\n    \"url\": \"/api/v1/academies/fffa38ac-ba81-11ec-bdee-027c588d9553/trainings/d7ea5350-e8db-11ec-ae4e-067360dfb065\",\n    \"data\": {\n        \"training\": {\n            \"id\": \"d7ea5350-e8db-11ec-ae4e-067360dfb065\",\n            \"type\": \"scorm\",\n            \"name\": \"How to play Golf\",\n            \"created_at\": 1654879145958\n        }\n    }\n}\n"
                Resource:
                  value: "{\n    \"url\": \"/api/v1/academies/fffa38ac-ba81-11ec-bdee-027c588d9553/trainings/c5953390-0849-11ed-9fb5-027c588d9553\",\n    \"data\": {\n        \"training\": {\n            \"id\": \"c5953390-0849-11ed-9fb5-027c588d9553\",\n            \"type\": \"resource\",\n            \"name\": \"Restaurant Locations near Kansas City Office\",\n            \"created_at\": 1658334845887\n        }\n    }\n}\n"
              schema:
                oneOf:
                - title: SCORM
                  type: object
                  properties:
                    url:
                      type: string
                      example: /api/v1/academies/fffa38ac-ba81-11ec-bdee-027c588d9553/trainings/d7ea5350-e8db-11ec-ae4e-067360dfb065
                    data:
                      type: object
                      properties:
                        training:
                          type: object
                          properties:
                            id:
                              type: string
                              example: d7ea5350-e8db-11ec-ae4e-067360dfb065
                            type:
                              type: string
                              example: scorm
                            name:
                              type: string
                              example: How to play Golf
                            created_at:
                              type: integer
                              example: 1654879145958
                              default: 0
                - title: Resource
                  type: object
                  properties:
                    url:
                      type: string
                      example: /api/v1/academies/fffa38ac-ba81-11ec-bdee-027c588d9553/trainings/c5953390-0849-11ed-9fb5-027c588d9553
                    data:
                      type: object
                      properties:
                        training:
                          type: object
                          properties:
                            id:
                              type: string
                              example: c5953390-0849-11ed-9fb5-027c588d9553
                            type:
                              type: string
                              example: resource
                            name:
                              type: string
                              example: Restaurant Locations near Kansas City Office
                            created_at:
                              type: integer
                              example: 1658334845887
                              default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: '{"type":"not_found","message":"Error. Not found."}'
              schema:
                type: object
                properties:
                  type:
                    type: string
                    example: not_found
                  message:
                    type: string
                    example: Error. Not found.
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/search/{search_term}:
    get:
      summary: Search for Trainings
      description: ''
      operationId: search-for-trainings
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: search_term
        in: path
        description: The search term that will be used to search for academies with that term
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"page\": 1,\n    \"per_page\": 100,\n    \"has_more\": false,\n    \"url\": \"https://app.workramp.com/api/v1/academies/:academy_id/search/:search_term\",\n    \"data\": {\n        \"trainings\": [\n            {\n                \"id\": \"1424\",\n                \"type\": \"course\",\n                \"title\": \"Some Course\",\n                \"name\": \"Some Course\",\n                \"created_at\": 1488144236206.5808\n            }\n        ]\n    }\n}"
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  per_page:
                    type: integer
                    example: 100
                    default: 0
                  has_more:
                    type: boolean
                    example: false
                    default: true
                  url:
                    type: string
                    example: https://app.workramp.com/api/v1/academies/:academy_id/search/:search_term
                  data:
                    type: object
                    properties:
                      trainings:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: '1424'
                            type:
                              type: string
                              example: course
                            title:
                              type: string
                              example: Some Course
                            name:
                              type: string
                              example: Some Course
                            created_at:
                              type: number
                              example: 1488144236206.5808
                              default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/paths:
    get:
      summary: Get All Offered Paths
      description: This endpoint is for getting all the paths available to learners in your academy.
      operationId: get-all-paths-academy
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    page: 1
                    per_page: 20
                    has_more: false
                    url: https://app.workramp.com/api/v1/academies/:academy_id/paths
                    data:
                      paths:
                      - created_at: 1651860613984
                        description: This is a description
                        id: c6a7baae-cd67-11ec-a110-027c588d9553
                        name: Path To Greatness
                      - created_at: 1665158128175
                        description: Here is a really excellent description
                        id: 76c09776-4658-11ed-9127-020df940d6b7
                        name: Mars Pathfinder Path
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/certifications:
    get:
      summary: Get All Offered Certifications
      description: This endpoint is for getting all the certifications offered in your academy. If you are looking to get information about learners -- their awarded certifications, see **Get All Awarded Certifications For a Contact** or **Get All Awarded Certifications**.
      operationId: get-all-certifications-2
      parameters:
      - name: academy_id
        in: path
        description: The id of the Academy
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    page: 1
                    per_page: 100
                    has_more: false
                    url: https://app.workramp.com/api/v1/academies/:academy_id/certifications
                    data:
                      certifications:
                      - id: '22422424'
                        name: Some Cert
                        description: Some Description of the Cert
                        created_at: 1488144236206.5808
                        awarded_by_name: Jane
                        awarded_by_title: Doe
              schema:
                type: object
                properties:
                  page:
                    type: integer
                    example: 1
                    default: 0
                  per_page:
                    type: integer
                    example: 100
                    default: 0
                  has_more:
                    type: boolean
                    example: false
                    default: true
                  url:
                    type: string
                    example: https://app.workramp.com/api/v1/academies/:academy_id/certifications
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: '22422424'
                        name:
                          type: string
                          example: Some Cert
                        description:
                          type: string
                          example: Some Description of the Cert
                        created_at:
                          type: number
                          example: 1488144236206.5808
                          default: 0
                        awarded_by_name:
                          type: string
                          example: Jane
                        awarded_by_title:
                          type: string
                          example: Doe
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/collections:
    get:
      summary: Get All Offered Collections
      description: This endpoint is for getting all the Collections offered in your academy.
      operationId: get-all-offered-collections
      parameters:
      - name: academy_id
        in: path
        description: The ID of the Academy
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  'has_more' => false,\n    'item_count' => 1,\n    'page' => 1,\n    'per_page' => 20,\n    'url' => https://app.workramp.com/api/v1/academies/001001001/collections,\n    'data' => {\n    \t'collections' => {\n        'created_at' => 1722020032546\n        'description' => \"Description,\n        'id' => \"112112112\",\n        'name' => \"Name\"\n      }\n  \t}\n          \n      "
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/collections/{collection_id}:
    get:
      summary: Get Collection
      description: This endpoint is for getting detailed information for a specific Collection in your Academy. The response will include information about each piece of content within the Collection.
      operationId: get-collection
      parameters:
      - name: academy_id
        in: path
        description: The ID of the Academy
        schema:
          type: string
        required: true
      - name: collection_id
        in: path
        description: The ID of the Collection
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  'url' => https://app.workramp.com/api/v1/academies/001001001/collections/334334334,\n  'data' => {\n    'collection' => {\n      \"academy_collection_contents\" => [\n        {\n          \"id\" => \"112112112\",\n          \"content_id\" => \"22422424\",\n          \"content_type\" => \"guide\",\n          \"content\" => {\n            \"card_banner\" => nil,\n            \"description\" => \"Description,\n            \"id\" => \"22422424\",\n            \"time_estimate_seconds\" => 1200,\n            \"title\" => \"Title\"\n          }\n        }\n      ]\n    }\n  }\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/paths/{path_id}/details:
    get:
      summary: Get Path
      description: This endpoint is for getting detailed information for a specific Path in your Academy. The response will include information about each piece of content within the Path.
      operationId: get-path
      parameters:
      - name: academy_id
        in: path
        description: The ID of the Academy
        schema:
          type: string
        required: true
      - name: path_id
        in: path
        description: The ID of the Path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  'url' => https://app.workramp.com/api/v1/academies/001001001/paths/112112112/details,\n  'data' => {\n    'path' => {\n      \"academy_certification_contents\" => [\n        {\n          \"id\" => 223223223,\n          \"academy_certification_id\" => 112112112,\n          \"content_id\" => 334334334,\n          \"content_type\" => \"guide\",\n          \"ui_order\" => 1,\n          \"created_at\" => 1722020033428,\n        \t\"updated_at\" => 1722020033715,\n          \"content\" => {\n            \"card_banner\" => nil,\n              \"description\" => \"Description\",\n              \"id\" => 334334334,\n              \"time_estimate_seconds\" => 1200,\n              \"title\" => \"Guide Title\"\n          }\n        ]\n    \t}\n    }\n  },\n  \"banner_image\" => nil,\n   \"id\" => 112112112,\n   \"title\" => \"Path Title\"\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/certifications/{certification_id}/details:
    get:
      summary: Get Certification
      description: This endpoint is for getting detailed information for a specific Certification in your Academy. The response will include information about each piece of content within the Certification.
      operationId: get-certification-1
      parameters:
      - name: academy_id
        in: path
        description: The ID of the Academy
        schema:
          type: string
        required: true
      - name: certification_id
        in: path
        description: The ID of the Certification
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  'url' => https://app.workramp.com/api/v1/academies/001001001/certifications/112112112/details,\n  'data' => {\n    'certification' => {\n      \"academy_certification_contents\" => [\n        {\n          \"id\" => 223223223,\n          \"academy_certification_id\" => 112112112,\n          \"content_id\" => 334334334,\n          \"content_type\" => \"guide\",\n          \"ui_order\" => 1,\n          \"created_at\" => 1722020033428,\n        \t\"updated_at\" => 1722020033715,\n          \"content\" => {\n            \"card_banner\" => nil,\n              \"description\" => \"Description\",\n              \"id\" => 334334334,\n              \"time_estimate_seconds\" => 1200,\n              \"title\" => \"Guide Title\"\n          }\n        ]\n    \t}\n    }\n  },\n  \"banner_image\" => nil,\n   \"id\" => 112112112,\n   \"title\" => \"Certification Title\"\n}"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Academies
    servers:
    - url: https://app.workramp.com
  /api/v1/academies/{academy_id}/events:
    get:
      summary: Get All Events
      description: ''
      operationId: get-all-academy-events
      parameters:
      - name: academy_id
        in: path
        schema:
          type: string
        required: true
      - name: page
        in: query
        description: The page number of the results
        schema:
          type: integer
          format: int32
          default: 1
      - name: per_page
        in: query
        description: The number of results returned per page
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: '200'
[...]
