openapi: 3.2.0
info:
  title: Workramp Path Assignments API
  version: '1.0'
  description: 'Operations tagged Path Assignments across 2 of this provider''s published API definitions: workramp-api-settings-openapi.yml, workramp-json-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://app.workramp.com
security:
- sec0: []
tags:
- name: Path Assignments
paths:
  /api/v1/path_assignments/{assignment_id}:
    delete:
      summary: Delete Path Assignment
      description: Delete a specific assignment
      operationId: delete-assignment-1
      parameters:
      - name: assignment_id
        in: path
        description: ID of the assignment to be unassigned
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: 'true

                    '
              schema:
                type: boolean
                example: true
                default: true
      deprecated: false
      tags:
      - Path Assignments
    get:
      summary: Get Path Assignment by ID
      description: Get a specific path user assignment
      operationId: get-path-assignment
      parameters:
      - name: assignment_id
        in: path
        description: ID of the path assignment to retrieve
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"805bfffa-9da6-11ed-b0ee-aa41bb3ba07e\",\n  \"userId\": 1,\n  \"title\": \"3rd generation\",\n  \"trainingSeriesId\": \"802569c2-9da6-11ed-b0ee-aa41bb3ba07e\",\n  \"assignerId\": 1,\n  \"overallGrade\": null,\n  \"isCompleted\": false,\n  \"dueDate\": 1675275796000,\n  \"createdAt\": 1674757396199,\n  \"updatedAt\": 1723154574722,\n  \"createdThrough\": null,\n  \"numModules\": 5,\n  \"modulesCompleted\": 2,\n  \"completionPercentage\": 40,\n  \"completedAt\": null,\n  \"tags\": [],\n  \"timeSpent\": null,\n  \"status\": \"overdue\",\n  \"isCompletedOnTime\": null,\n  \"passed\": false,\n  \"passingGradeRequired\": null,\n  \"isOverdue\": true,\n  \"numDaysOverdue\": 658,\n  \"firstAccessedAt\": 1674757396199,\n  \"lastAccessedAt\": 1723154574722\n}\n"
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 805bfffa-9da6-11ed-b0ee-aa41bb3ba07e
                  userId:
                    type: integer
                    example: 1
                    default: 0
                  title:
                    type: string
                    example: 3rd generation
                  trainingSeriesId:
                    type: string
                    example: 802569c2-9da6-11ed-b0ee-aa41bb3ba07e
                  assignerId:
                    type: integer
                    example: 1
                    default: 0
                  overallGrade: {}
                  isCompleted:
                    type: boolean
                    example: false
                    default: true
                  dueDate:
                    type: integer
                    example: 1675275796000
                    default: 0
                  createdAt:
                    type: integer
                    example: 1674757396199
                    default: 0
                  updatedAt:
                    type: integer
                    example: 1723154574722
                    default: 0
                  createdThrough: {}
                  numModules:
                    type: integer
                    example: 5
                    default: 0
                  modulesCompleted:
                    type: integer
                    example: 2
                    default: 0
                  completionPercentage:
                    type: integer
                    example: 40
                    default: 0
                  completedAt: {}
                  tags:
                    type: array
                  timeSpent: {}
                  status:
                    type: string
                    example: overdue
                  isCompletedOnTime: {}
                  passed:
                    type: boolean
                    example: false
                    default: true
                  passingGradeRequired: {}
                  isOverdue:
                    type: boolean
                    example: true
                    default: true
                  numDaysOverdue:
                    type: integer
                    example: 658
                    default: 0
                  firstAccessedAt:
                    type: integer
                    example: 1674757396199
                    default: 0
                  lastAccessedAt:
                    type: integer
                    example: 1723154574722
                    default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Path Assignments
    post:
      summary: Update Path Assignment
      description: Update a specific assignment
      operationId: update-assignment-1
      parameters:
      - name: assignment_id
        in: path
        description: ID of the assignment to be updated
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dueDate:
                  type: string
                  description: Flexible date format, with a preference for ISO8601 formats, but can accept number of milliseconds since 1970-01-01 00:00:00 UTC.
                  format: date-time
                isDeleted:
                  type: boolean
                dueAtEndOfDay:
                  type: boolean
                  description: Specifies whether you want to have the due date set to 23:59:99 of the day chosen.
                  default: 'true'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"id\": \"80afd844-fc64-11e6-8eb3-02dcdaae3a92\",\n    \"userId\": 133132,\n    \"trainingSeriesId\": \"40afd844-fc64-21e6-8eb3-02dcdaae3a92\",\n    \"assignerId\": 133432,\n    \"dueDate\": 1487900059000,\n    \"isCompleted\": false,\n    \"createdAt\": 1536735724285,\n    \"updatedAt\": 1536735724285,\n  \t\"createdThrough\": null,\n    \"numModules\": 4,\n    \"modulesCompleted\": 2\n}"
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 80afd844-fc64-11e6-8eb3-02dcdaae3a92
                  userId:
                    type: integer
                    example: 133132
                    default: 0
                  trainingSeriesId:
                    type: string
                    example: 40afd844-fc64-21e6-8eb3-02dcdaae3a92
                  assignerId:
                    type: integer
                    example: 133432
                    default: 0
                  dueDate:
                    type: integer
                    example: 1487900059000
                    default: 0
                  isCompleted:
                    type: boolean
                    example: false
                    default: true
                  createdAt:
                    type: integer
                    example: 1536735724285
                    default: 0
                  updatedAt:
                    type: integer
                    example: 1536735724285
                    default: 0
                  createdThrough: {}
                  numModules:
                    type: integer
                    example: 4
                    default: 0
                  modulesCompleted:
                    type: integer
                    example: 2
                    default: 0
      deprecated: false
      tags:
      - Path Assignments
    servers:
    - url: https://app.workramp.com
components:
  securitySchemes:
    sec0:
      type: apiKey
      name: Authorization
      in: header
      x-bearer-format: bearer
      x-default: ACCESS_TOKEN
x-refined-from:
- workramp-api-settings-openapi.yml
- workramp-json-api-openapi.yml
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: true
x-readme-fauxas: true
