openapi: 3.2.0
info:
  title: json-api Instant Auth API
  version: '1.0'
servers:
- url: https://app.workramp.com
security:
- sec0: []
tags:
- name: Instant Auth
paths:
  /api/v1/instant_auth:
    post:
      summary: Instant Auth
      description: Create instant login URLs for your employees
      operationId: elc-instant-auth
      parameters:
      - name: Content-Type
        in: header
        description: application/json
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  description: Email address of the user
                redirect_to:
                  type: string
                  description: A relative WorkRamp URL to redirect the user to after login
                name:
                  type: string
                  description: Full name of the user
                isAdmin:
                  type: boolean
                  description: Is the user an admin?
                  default: false
                isManager:
                  type: boolean
                  description: Is the user a manager?
                  default: false
                customAttributes:
                  type: object
                  description: A mapping of api_name->value for custom attributes to set for the user
                  properties:
                    key:
                      type: string
                      description: API key for this custom attribute
                    value:
                      type: string
                      description: Value to set this custom attribute to
                groups:
                  type: array
                  description: IDs of groups that the user should be added to
                  items:
                    type: integer
                    format: int32
                managers:
                  type: array
                  description: IDs of managers that the user should be managed by
                  items:
                    type: integer
                    format: int32
                managerEmails:
                  type: array
                  description: Email addresses of managers that the user should be managed by (managers takes precedence)
                  items:
                    type: string
                managerNames:
                  type: array
                  description: Names of managers that the user should be managed by (managers and manager_emails take precedence)
                  items:
                    type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"url\": \"https://random-example.app.workramp.com/instant-login/1234567890abcdef\"\n}"
              schema:
                type: object
                properties:
                  url:
                    type: string
                    example: https://random-example.app.workramp.com/instant-login/1234567890abcdef
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Instant Auth
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
      x-default: ACCESS_TOKEN
x-readme:
  headers: []
  explorer-enabled: false
  proxy-enabled: false
x-readme-fauxas: true
